{% extends "dash2.html" %}{%load staticfiles %}
{% block title %} A. General{% endblock %}
{% block head2 %}
<style media="screen">#formtable .select2-container {position:relative;z-index:1;float:left;width:100%;margin-bottom:0;display:table;table-layout:fixed;max-width:100%!important;}</style>
<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>{% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="#"><i><span>/ Análisis</span></i></a></li>
<li><a href="#"><i><span>/ General</span></i></a></li>
{%endblock%}
{% block contenido2 %}

<div class="row">
    <div class="panel panel-default toggle m-t-xs ml20 mr20">
        <div class="panel-heading">
            <h4 class="panel-title"> Bienvenido, proyectos asociados:</h4>
        </div>
        <div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">


            <div class="col-lg-12">
                <div class="panel panel-default toggle plain panelMove panelClose panelRefresh">
                    <!-- Inicio .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><strong>Promedio General de tu Área </strong></h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-9">
                            <h1>Gráfica</h1>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-default toggle plain panelMove panelClose panelRefresh">
                                <!-- Inicio .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Filtros</h4>
                                </div>
                                <div class="panel-body">
                                    <!-- col-lg-12 start here -->
                                    <div class="col-lg-12 col-md-6 p0">
                                        <!-- Start .panel -->
                                        <ul class="list-unstyled mb0">
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Organización</span>
                                            </li>
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Regional</span>
                                            </li>
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Ciudad</span>
                                            </li>
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Area</span>
                                            </li>
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Cargo</span>
                                            </li>
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Lider</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default toggle plain panelMove panelClose panelRefresh">
                    <!-- Inicio .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><strong>Promedio General de tu Área </strong></h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-9">
                            <h1>Gráfica</h1>
                        </div>
                        <div class="col-lg-3">
                            <div class="panel panel-default toggle plain panelMove panelClose panelRefresh">
                                <!-- Inicio .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Filtros</h4>
                                </div>
                                <div class="panel-body">
                                    <!-- col-lg-12 start here -->
                                    <div class="col-lg-12 col-md-6 p0">
                                        <!-- Start .panel -->
                                        <ul class="list-unstyled mb0">
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Organización</span>
                                            </li>
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Regional</span>
                                            </li>
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Ciudad</span>
                                            </li>
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Area</span>
                                            </li>
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Cargo</span>
                                            </li>
                                            <li class="mb5 pb5 bbdashed">
                                                <span class="strong">Lider</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="panel panel-default toggle plain panelMove panelClose panelRefresh">
                    <!-- Inicio .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><strong>Percepción de Planes de Acción </strong></h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-lg-1" bgcolor="#8CB126" align="center"> # </th>
                                        <th class="col-lg-4" bgcolor="#8CB126" align="center">Plan</th>
                                        <th class="col-lg-4" bgcolor="#8CB126" align="center">Visto en Accíon</th>
                                        <th class="col-lg-3" bgcolor="#8CB126" align="center">Impacto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center"> 1 </td>
                                        <td>Fortalecer los mensajes  de Conciencia de Cambio </td>
                                        <td> 30% </td>
                                        <td>  2</td>
                                    </tr>
                                    <tr>
                                        <td align="center"> 1 </td>
                                        <td>Implemetar el plan de refuerzo de aprendizaje </td>
                                        <td> 30% </td>
                                        <td> 3 </td>
                                    </tr>
                                    <tr>
                                        <td align="center"> 1 </td>
                                        <td> Fortalecer la red de Promotores de cambio </td>
                                        <td> 40% </td>
                                        <td> 1 </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-default toggle plain panelMove panelClose panelRefresh">
                    <!-- Inicio .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><strong>Sugerencias de desarrollo</strong></h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-lg-1" bgcolor="#8CB126" align="center"> # </th>
                                        <th class="col-lg-2" bgcolor="#8CB126" align="center">Plan</th>
                                        <th class="col-lg-1" bgcolor="#8CB126" align="center">Fecha Inicio</th>
                                        <th class="col-lg-1" bgcolor="#8CB126" align="center">Fecha Fin</th>
                                        <th class="col-lg-2" bgcolor="#8CB126" align="center">Estado</th>
                                        <th class="col-lg-3" bgcolor="#8CB126" align="center">Observaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center"> 1 </td>
                                        <td> Diseñar un plan de reconocimiento para el equipo de proyecto </td>
                                        <td> 30/05/2016 </td>
                                        <td> 15/07/2016 </td>
                                        <td>
                                        <select class="form-control input-sm" id="sel1">
                                            <option value="AK">Sin Iniciar</option>
                                            <option value="HI">No Seleccionar</option>
                                            <option value="HI">Iniciado</option>
                                            <option value="HI">Finalizado</option>
                                        </select></td>
                                        <td>
                                        <input type="text" class="form-control" id="usr">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12 center-block">
                            <button type="button" class="btn btn-primary center-block">
                                Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="panel panel-default toggle plain panelMove panelClose panelRefresh">
                    <!-- Inicio .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><strong>>Reconocimientos </strong></h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">

                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-lg-1" bgcolor="#8CB126" align="center"> # </th>
                                        <th class="col-lg-2" bgcolor="#8CB126" align="center">Colaborador</th>

                                        <th class="col-lg-4" bgcolor="#8CB126" align="center">Comentario</th>
                                        <th class="col-lg-3" bgcolor="#8CB126" align="center">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td align="center"> 1 </td>
                                        <td>
                                        <select class="form-control input-sm" id="sel1">
                                            <option value="AK">Juan Quiñones</option>
                                            <option value="HI">Pedro Guzman</option>
                                            <option value="HI">Fernando Albarracin</option>
                                            <option value="HI">Lina Quevedo</option>
                                        </select>
                                        </td>

                                        <td> <input type="text" class="form-control" id="usr"> </td>
                                        <td> <button type="button" class="btn btn-primary center-block">
                                    Enviar
                                </button> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12 center-block">
                            <button type="button" class="btn btn-primary center-block">
                                Nuevo Reconocimiento
                            </button>
                        </div>
                    </div>
                </div>
            </div>











        </div>
    </div>
</div>


{% endblock %}

{%block scripts%}

{% endblock %}
