<!DOCTYPE html>
<html lang="es" id="Networks Lab">
<head>
	<title>Encuesta</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{%load staticfiles%}
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,300" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{% static 'css/encuesta/normalize.min.css' %}" charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/encuesta/encuestaestilohad.min.css' %}" charset="utf-8">
</head>
<body>
<!-- Estandar Section -->
<section id="intro" class="intro-section">
	<div class="container-one">
		<div class="row">
			<div class="col-lg-12">
				<div><img id="had-banner" src="{% static 'img/encuesta/had_banner.png' %}" alt="banner" style="width:100%;">
				</div>
				{%if Proyecto.interno %}
				<div>
					{%if Encuestado.proyecto.proyectosdatos.logoenc%}<img id="had-logo" src="{{Encuestado.proyecto.proyectosdatos.logoenc.url}}" alt="Logo" />
					{%else%}<img id="had-logo" src="{{Encuestado.proyecto.proyectosdatos.logo.url}}" alt="Logo" />{%endif%}
				{%else%}
					{%if Proyecto.proyectosdatos.logoenc%}<img id="had-logo" src="{{Proyecto.proyectosdatos.logoenc.url}}" alt="Logo" />
					{%else%}<img  id="had-logo" src="{{Proyecto.proyectosdatos.logo.url}}" alt="Logo" />{%endif%}
				</div>
				{%endif%}
			</div>
		</div>

</section>
<!-- Questions Section -->
<section id="human-body" class="human-body-section">
	<div class="container-two">
		<div class="row">
			<!-- Human Body Section -->
			<div class="col-lg-12 project">
				{%if Encuestado.proyecto.interno%}<h1><p>Hola <b>{{Encuestado.nombre | escape |capfirst}}</b>:</p></h1>{%endif%}
				{%if not Proyecto.interno%}<h1><p><b>{{Proyecto.proyectosdatos.tit_encuesta | escape |capfirst}}</b>:<br> {{Proyecto.proyectosdatos.int_encuesta | escape |safe}}</p></h1>{%endif%}
			</div>
		</div>
	</div>
</section>

<section  id="form" class="form-section">
{% regroup Preguntas by variable.descripcion as preguntas_list %}
<form  class="form-horizontal" method="POST">{% csrf_token %}
	{% for variable in preguntas_list %}
    <div class="container">
		<h1><legend class="m-t m-b">{{ variable.grouper | capfirst}}</legend></h1>
			{% for pregunta in variable.list|dictsort:"posicion" %}
			<div class="form-group">
				<legend><span class="number">{{forloop.counter}}</span>{{pregunta.texto| escape}}</legend>
				{%if pregunta.abierta%}<textarea type="text" max_length="1000" name="{{pregunta.id}}" required title="Por favor responda la pregunta"></textarea>{%endif%}
				{%if pregunta.multiple%}
					{%for i in pregunta.respuestas_set.all%}
						<input type="checkbox" class="checkbox" name="{{pregunta.id}}" value="{{i.texto|escape}}" >
						<label class="light">{{i.texto|escape}}</label><br>
					{% endfor %}<br>
				{% endif %}
				{%if pregunta.abierta or pregunta.multiple%}{%else%}
				<select required title="Por favor responda la pregunta" name="{{pregunta.id}}">
				{%for i in pregunta.respuestas_set.all%}
					<option value="{{i.texto| escape}}" >{{i.texto | escape}}</option>
				{% endfor %}
				</select>
				{%endif%}
			</div>
			{% endfor %}
	</div>
	{% endfor %}

<button type="submit" class="btn btn-primary"><strong>Finalizar encuesta</strong></button>
</form>
</section>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript">$('form').validate({ errorPlacement:function(error,element){	error.appendTo(element.parent());}	});</script>
</body>
</html>
