*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Nunito', sans-serif !important;
	color: #384047 !important;
}

#form {
	max-width: 700px;
	margin-right: 20%;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}

.demo {
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
	height: 80%;
}

h1 {
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-weight: 200 !important;
	font-size: 1.3em !important;
	width: 60%;
	margin-left:20%;
}

a {
	text-decoration: none;
	color:white;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	background: rgba(255,255,255,0.1);
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0 4px 8px 0;
	display: inline-block;
}

select {
	padding: 6px;
	height: 32px;
	border-radius: 2px;
}

button {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #25AAE1;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 60%;
	border: 1px solid #25AAE1;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	/*margin-bottom: 10px;*/
	margin-left: 20%;
}

fieldset {
	margin-bottom: 30px;
	border: none;
}

legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}

label {
	display: block;
	margin-bottom: 8px;
}

label.light {
	font-weight: 300;
	display: inline;
}

.number {
	background-color: #25AAE1;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}

.radio-inline+ .radio-inline, .checkbox-inline+ .checkbox-inline {
	margin-top: 0;
	margin-left: 0px !important;
}

.form-horizontal .control-label {
	text-align: left;
}

.container-one{
	margin-top: -25px;
}

.container-two{
	margin-top: 0px;

}

#human-body{

	height: 100%;

}

#had-banner{
	/*background-image: url("../img/had_banner.png");*/
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    z-index:0;
    /*height: 100%;*/
}

#had-logo{
    /*background-image: url("../img/had_logo.png");*/
    position: absolute;
    background-repeat: no-repeat;
    margin-top: -6%;
    margin-left: 10px;
    width: 15%;
    z-index:1;
}

#uno {
	display: inline;
	/*display: none;*/
}

#dos {
	display: inline;
	padding: 10px;
}

@media screen and (min-width: 480px) {

	form {
		max-width: 480px;
	}

}

@media screen and (min-width: 768px) {

	form {
		max-width: 768px;
	}

}

@media screen and (min-width: 980px) {

	form {
		max-width: 980px;
	}

}

@media screen and (min-width: 1200px) {

	form {
		max-width: 1200px;
	}

}
