{% extends "dash2.html" %}{% load staticfiles%}
{% block title %} Proyecto | Eliminar {% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="/participantes/individual/"><i><span>/ Participantes</span></i></a></li>
<li><a href="#"><i><span>/ Eliminar</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> {{user.first_name | capfirst | escape }}, favor proceda con precaución:</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			{%ifequal objeto "Participante"%}<div class="m" style="text-rendering: optimizeLegibility;">Eliminar una participante ocasiona que los siguientes elementos asociados:<br><br><ul><li>Métricas del participante</li><li>Respuestas del participante</li></ul><strong>sean eliminados definitivamente.</strong><br><br>¿Está seguro de querer Eliminar al colaborador <strong>{{Participante.nombre | escape}} {{Participante.apellido | escape}}</strong>?</div>{%endifequal%}
			<form  method="POST">{%csrf_token%}
            	<div class="container-fluid">
					{%ifequal objeto "Participante"%}<a href="/participantes/individual/" class="btn btn-primary pull-left m-t"><i class="fa fa-life-saver"></i> Cancelar</a>{%endifequal%}
					<button type="submit" class="btn btn-danger pull-right m-t"><i class="fa fa-trash"></i> Eliminar definitivamente</button>
				</div>
            </form>
		</div>
	</div>
</div>
{% endblock %}
