{% extends "dash_360.html" %}{%load staticfiles %}
{% block title %} Proyecto | Participantes{% endblock %}
{%block head2%}<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />{%endblock%}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="/360/participantes/individual/"><i><span>/ Participantes</span></i></a></li>
<li><a href="#"><i><span>/ {{accion | capfirst}}</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> Complete los siguientes campos para {{accion}} el participante:</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			<form class="form-horizontal" method="POST">{%csrf_token%}
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Evaluador externo:</label>
					<div  class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="externo" {% if Participante.externo %}checked{% endif %} type="checkbox" name="externo" class="switch" >
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Nombre:</label>
					<div class="col-lg-5 col-md-6 col-xs-8 col-sm-7">
						<input required title="Es campo es obligatorio" type="text" name="nombre" class="form-control" maxlength="45" value="{{Participante.nombre}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Apellido:</label>
					<div class="col-lg-5 col-md-6 col-xs-8 col-sm-7">
						<input required title="Es campo es obligatorio" type="text" name="apellido" class="form-control" maxlength="45" value="{{Participante.apellido}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Email:</label>
					<div class="col-lg-5 col-md-6 col-xs-8 col-sm-7">
						<input id="email" required title="Es campo es obligatorio" type="email" name="email" class="form-control" maxlength="254" value="{{Participante.email}}">
					</div>
				</div>
				<div id="email_error" style="display:none" class="form-group">
					<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"></div>
					<div class="col-lg-5 col-md-6 col-xs-8 col-sm-7">
						<span style="color:#cd1e21"> Este correo se encuentra registrado en el proyecto, el envío de este formulario será ignorado.</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Género:</label>
					<div class="col-lg-5 col-md-6 col-xs-8 col-sm-7">
						<select class="chosen-select form-control" name="genero" required title="Este campo es obligatorio">
							<option {%if "Femenino" == Participante.genero %}selected{% endif %} value="Femenino">Femenino</option>
							<option {%if "Masculino" == Participante.genero %}selected{% endif %} value="Masculino">Masculino</option>
						</select>
					</div>
				</div>
				<div id="descripcion_div" {% if not Participante.externo %}style="display:none"{% endif %} class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label norequired">Descripción:</label>
					<div class="col-lg-5 col-md-6 col-xs-8 col-sm-7">
						<input id="descripcion" title="Es campo es obligatorio" type="descripcion" name="descripcion" class="form-control" maxlength="254" {% if Participante.descripcion %}value="{{Participante.descripcion}}"{% endif %}>
					</div>
				</div>
				<div class="form-group">
					<label id="area_label" class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label {% if not Participante.externo %}required{% else %}norequired{% endif%}">Área:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="area" {% if not Participante.externo %}required{% endif%} title="Es campo es obligatorio" type="text" name="area" class="form-control" maxlength="200" {% if Participante.colaboradoresdatos_360.area %} value="{{Participante.colaboradoresdatos_360.area}}"{% endif %}>
					</div>
					<label id="cargo_label" class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label {% if not Participante.externo %}required{% else %}norequired{% endif%}">Cargo:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="cargo" {% if not Participante.externo %}required{% endif%} title="Es campo es obligatorio" type="text" name="cargo" class="form-control" maxlength="200" {% if Participante.colaboradoresdatos_360.cargo %} value="{{Participante.colaboradoresdatos_360.cargo}}"{% endif %}>
					</div>
				</div>
				<div class="form-group">
					<label id="regional_label" class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label {% if not Participante.externo %}required{% else %}norequired{% endif%}">Regional:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="regional" {% if not Participante.externo %}required{% endif%} title="Es campo es obligatorio" type="text" name="regional" class="form-control" maxlength="200" {% if Participante.colaboradoresdatos_360.regional %}value="{{Participante.colaboradoresdatos_360.regional}}"{% endif %}>
					</div>
					<label id="ciudad_label" class="col-lg-1 col-md-1 col-sm-2 col-xs-2 control-label {% if not Participante.externo %}required{% else %}norequired{% endif%}">Ciudad:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="ciudad" {% if not Participante.externo %}required{% endif%} title="Es campo es obligatorio" type="text" name="ciudad" class="form-control" maxlength="100" {% if Participante.colaboradoresdatos_360.ciudad %} value="{{Participante.colaboradoresdatos_360.ciudad}}"{% endif %}>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label norequired">Nivel académico:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<select class="chosen-select form-control" name="niv_academico" data-placeholder="Seleccione uno">
							<option value=""></option>
							<option {%ifequal 'Primaria' Participante.colaboradoresdatos_360.niv_academico %}selected{%endifequal%} value="Primaria">Primaria</option>
							<option {%ifequal 'Bachillerato' Participante.colaboradoresdatos_360.niv_academico %}selected{%endifequal%} value="Bachillerato">Bachillerato</option>
							<option {%ifequal 'Técnico/Tecnólogo' Participante.colaboradoresdatos_360.niv_academico %}selected{%endifequal%} value="Técnico/Tecnólogo">Técnico/Tecnólogo</option>
							<option {%ifequal 'Profesional' Participante.colaboradoresdatos_360.niv_academico %}selected{%endifequal%} value="Profesional">Profesional</option>
							<option {%ifequal 'Maestría' Participante.colaboradoresdatos_360.niv_academico %}selected{%endifequal%} value="Maestría">Maestría</option>
							<option {%ifequal 'Doctorado' Participante.colaboradoresdatos_360.niv_academico %}selected{%endifequal%} value="Doctorado">Doctorado</option>
						</select>
					</div>
					<label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label norequired">Profesión:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input type="text" name="profesion" class="form-control" maxlength="200" {% if Participante.colaboradoresdatos_360.profesion %}value="{{Participante.colaboradoresdatos_360.profesion}}"{% endif %}>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label norequired">Fecha de nacimiento:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input readonly type="text" name="fec_nacimiento" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" class="form-control fecha" maxlength="254" placeholder="Opcional" {%if Participante.colaboradoresdatos_360.fec_nacimiento%}value="{{Participante.colaboradoresdatos_360.fec_nacimiento |date:"d/m/Y"}}"{%endif%}>
					</div>
					<label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label norequired">Fecha de ingreso:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="fec_ingreso" type="text" name="fec_ingreso" data-date-format="dd/mm/yyyy" placeholder="dd/mm/yyyy" class="form-control fecha" maxlength="254" value="{{Participante.colaboradoresdatos_360.fec_ingreso |date:"d/m/Y"}}">
					</div>
				</div>
				<div class="form-group">{%if Proyecto.proyectosdatos.opcional1%}
					<label id="opcional1_label" class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label {% if not Participante.externo %}required{% else %}norequired{% endif%}">{{Proyecto.proyectosdatos.opcional1 |capfirst}}</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="opcional1" {% if not Participante.externo %}required{% endif%} title="Es campo es obligatorio" type="text" name="opcional1" class="form-control" maxlength="200" value="{% if Participante.colaboradoresdatos_360.opcional1 %}{{Participante.colaboradoresdatos_360.opcional1}}{% endif %}">
					</div>
					{%endif%}
					{%if Proyecto.proyectosdatos.opcional2%}
					<label id="opcional2_label" class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label {% if not Participante.externo %}required{% else %}norequired{% endif%}">{{Proyecto.proyectosdatos.opcional2 |capfirst}}</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="opcional2" {% if not Participante.externo %}required{% endif%} title="Es campo es obligatorio" type="text" name="opcional2" class="form-control" maxlength="200" value="{% if Participante.colaboradoresdatos_360.opcional2 %}{{Participante.colaboradoresdatos_360.opcional2}}{% endif %}">
					</div>
					{%endif%}
				</div>
				<div class="form-group">{%if Proyecto.proyectosdatos.opcional3%}
					<label id="opcional3_label" class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label {% if not Participante.externo %}required{% else %}norequired{% endif%}">{{Proyecto.proyectosdatos.opcional3 |capfirst}}</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="opcional3" {% if not Participante.externo %}required{% endif%} title="Es campo es obligatorio" type="text" name="opcional3" class="form-control" maxlength="200" value="{% if Participante.colaboradoresdatos_360.opcional3 %}{{Participante.colaboradoresdatos_360.opcional3}}{% endif %}">
					</div>
					{%endif%}
					{%if Proyecto.proyectosdatos.opcional4%}
					<label id="opcional4_label" class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label {% if not Participante.externo %}required{% else %}norequired{% endif%}">{{Proyecto.proyectosdatos.opcional4 |capfirst}}</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="opcional4" {% if not Participante.externo %}required{% endif%} title="Es campo es obligatorio" type="text" name="opcional4" class="form-control" maxlength="200" value="{% if Participante.colaboradoresdatos_360.opcional4 %}{{Participante.colaboradoresdatos_360.opcional4}}{% endif %}">
					</div>
					{%endif%}
				</div>
				<div class="form-group">
					{%if Proyecto.proyectosdatos.opcional5%}
					<label id="opcional5_label" class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label {% if not Participante.externo %}required{% else %}norequired{% endif%}">{{Proyecto.proyectosdatos.opcional5 |capfirst}}</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input id="opcional5" {% if not Participante.externo %}required{% endif%} title="Es campo es obligatorio" type="text" name="opcional5" class="form-control" maxlength="200"  value="{% if Participante.colaboradoresdatos_360.opcional5 %}{{Participante.colaboradoresdatos_360.opcional5}}{% endif %}">
					</div>
					{%endif%}
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Activo:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input {% if accion == "registrar" %}checked{% else %}{% if Participante.estado %}checked{% endif %}{% endif %} type="checkbox" name="estado" class="switch" >
					</div>
				</div>
				<div class="container-fluid">
					<button type="submit" class="btn btn-primary pull-right m-t"><i class="fa fa-save"></i> {{accion|capfirst}} Colaborador</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script>$('.select2').select2()</script>
<script type="text/javascript" src="{% static 'js/plugins/switchery/switchery.min.js' %}"></script>
<script>var elems = $('.switch'), lenelems = elems.length;for (var i = 0; i < lenelems; i++) {var switchery = new Switchery(elems[i]);}</script>
<script src="{% static 'js/plugins/datepicker/datepicker.min.js' %}"></script>
<script>$(document).ready(function(){$('.fecha').datepicker({startView: 2,/*todayBtn: "linked",*/keyboardNavigation: false,forceParse: false,autoclose: true}); });</script>
<script>var contenido=function(e,n){for(var i=0;i<n.length;i++)if(e==n[i])return!0;return!1},emails=function(){var e=$("#email_error"),n=$("#email"),i=[{%for i in Emails%}'{{i.email}}',{%endfor%}];n.bind("keyup change",function(){contenido(n.val().toLowerCase(),i)?e.show():e.hide()})};emails();</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript">$('form').validate({ errorPlacement:function(error,element){	error.appendTo(element.parent());}	});</script>
<script type="text/javascript">
$(document).ready(function(){
	var elementos=[],elementos_label=[],$externo = $("#externo"),$descripcion = $("#descripcion_div");

		elementos.push($("#area")),
		elementos.push($("#cargo")),
		elementos.push($("#regional")),
		elementos.push($("#ciudad")),

		elementos_label.push($("#area_label")),
		elementos_label.push($("#cargo_label")),
		elementos_label.push($("#regional_label")),
		elementos_label.push($("#ciudad_label")),

		{%if Proyecto.proyectosdatos.opcional1%}elementos.push($("#opcional1")),elementos_label.push($("#opcional1_label")),{% endif %}
		{%if Proyecto.proyectosdatos.opcional2%}elementos.push($("#opcional2")),elementos_label.push($("#opcional2_label")),{% endif %}
		{%if Proyecto.proyectosdatos.opcional3%}elementos.push($("#opcional3")),elementos_label.push($("#opcional3_label")),{% endif %}
		{%if Proyecto.proyectosdatos.opcional4%}elementos.push($("#opcional4")),elementos_label.push($("#opcional4_label")),{% endif %}
		{%if Proyecto.proyectosdatos.opcional5%}elementos.push($("#opcional5")),elementos_label.push($("#opcional5_label")),{% endif %}

	$externo.change(function(){
		if(document.getElementById("externo").checked){
			$descripcion.show();
			for (variable of elementos) variable.attr("required",false);
			for (variable of elementos_label) variable.removeClass("required").addClass("norequired");
			$('form').validate({ errorPlacement:function(error,element){	error.appendTo(element.parent());}	});
			$('label.error').hide();
		} else {
			$descripcion.hide();
			for (variable of elementos) variable.attr("required",true);
			for (variable of elementos_label) variable.removeClass("norequired").addClass("required");
			$('form').validate({ errorPlacement:function(error,element){	error.appendTo(element.parent());}});
		}
	});

});
</script>
{% if 0 %}<script>
var contenido = function(a,x){
	for (var i = 0; i < x.length; i++) {
		if (a == x[i]){return true;}
	}
	return false;
}
var emails = function(){
	var $emailerror=$("#email_error"),$email=$('#email'),emails=[];{%for i in Emails%}emails.push('{{i.email|lower}}');{%endfor%}
	$emailerror.hide();
	$email.bind("keyup change", function(){
		if(contenido($email.val().toLowerCase(),emails)){
			$emailerror.show();
		}else{
			$emailerror.hide();
		}
	});
}
emails();
</script>{% endif %}
{%endblock%}
