{% extends "dash_360.html" %}
{% block title %} Proyecto | Dimensiones{% endblock %}
{% block head2 %}<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css"/>{% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="/360/instrumentos/"><i><span>/ Instrumentos</span></i></a></li>
<li><a href="#"><i><span>/ Dimensiones</span></i></a></li>
{% endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> Dimensiones del proyecto:</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			<script type="text/javascript">
			var actualizar = function(l){
				$.ajax({url:"/360/dimension/activar/"+l}).done(function( json ) {
					if(json['estado']) $('#e'+json['id']).html('<span style="color:#1d9d73">Activa</span>');
					else $('#e'+json['id']).html('<span style="color:#cd1e21">Inactiva</span>');
			  });
			};
			</script>
			<table id="pro" class="table table-striped table-bordered" cellspacing="0" width="99%">
				<thead>
					<tr>
						<th style="width:10%">Posición</th>
						<th style="max-width:40%">Texto de visualización encuesta</th>
						<th> Nombre (Privado)</th>
						<th>Estado</th>
						<th style="width:150px">Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for i in Dimensiones %}
					<tr>
						<td>{{ i.posicion  }}</td>
						<td>{{ i.descripcion  }}</td>
						<td><a href="/360/dimension/{{i.id}}/variables/">{{ i.nombre  }}</a></td>
						<td id="e{{i.id}}">{% if i.estado%}<span style="color:#1d9d73">Activa</span>{% else %}<span style="color:#cd1e21">Inactiva</span>{% endif %}</td>
						<td>{% if Permisos.var_add%}<a href="/360/dimension/{{i.id}}/variable/nueva/"><i class="fa fa-plus m-r" title="agregar variable"></i></a>{% endif %}{% if Permisos.act_variables %}<span style="cursor:pointer;color:#0bacd3" onclick="actualizar({{i.id}})"><i class="fa fa-retweet m-r" title="activar/desactivar"></i></span>{% endif %}{% if Permisos.var_edit %}<a href="/360/dimension/editar/{{i.id}}/"><i class="fa fa-edit m-r" title="editar"></i></a>{% endif %}{% if Permisos.var_del %}<a href="/360/dimension/eliminar/{{i.id}}/"><i class="fa fa-trash m-r" title="eliminar"></i></a>{% endif %}</td>
					</tr>{% endfor %}
				</tbody>
			</table>

			{% if Permisos.var_add %}<div class="container-fluid"><a href="/360/instrumento/{{Instrumento.id}}/dimension/nueva/" class="btn btn-primary pull-right m-t"><i class="fa fa-plus"></i> Agregar dimensión</a></div>{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts%}
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>$("#pro").dataTable({"columns":[{ className: "center" },{ className: "center" },{ className: "center" },{ className: "center" },{ className: "center" }],language:{sProcessing:"Procesando...",sLengthMenu:"Mostrar _MENU_ dimensiones",sZeroRecords:"No se encontraron resultados",sEmptyTable:"El Proyecto no posee ninguna dimensión.",sInfo:"Dimensiones de la _START_ a la _END_ de un total de _TOTAL_",sInfoEmpty:"Dimensiones de la  0 a la 0 de un total de 0",sInfoFiltered:"(filtrado de un total de _MAX_ dimensiones)",sInfoPostFix:"",sSearch:"Buscar:",sUrl:"",sInfoThousands:",",sLoadingRecords:"Cargando...",oPaginate:{sFirst:"Primero",sLast:"Último",sNext:"Siguiente",sPrevious:"Anterior"},oAria:{sSortAscending:": Activar para ordenar la columna de manera ascendente",sSortDescending:": Activar para ordenar la columna de manera descendente"}}});</script>
{% endblock%}
