{% extends "dash2.html" %}{%load staticfiles %}
{% block title %} Proyecto | Preguntas{% endblock %}
{% block head2%}<link href="{% static 'css/plugins/chosen/chosen.min.css' %}" rel="stylesheet"><style>.chosen-container-single .chosen-single {border-radius:0%;}</style>{% endblock %}
{% block contenido2 %}
<div class="row">
<div class="m-l m-r row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Proyecto {{Proyecto.nombre |capfirst | escape}}</h2>
		<ol class="breadcrumb">
			<li class="active">
				<a href="/home/"><i class="fa fa-cubes"></i> Mis proyectos</a>
			</li>
			<li>
				<a href="/variables/">Variables</a>
			</li>
			<li>
				<a href="/variable/{{Variable.id}}/preguntas/">Preguntas</a>
			</li>
			<li>Nueva</li>
		</ol>
	</div>
</div>
<div class="m-t col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5 class="m-r-xs">Complete los siguientes campos para agregar una nueva pregunta.</h5>
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
			<form class="form-horizontal" method="POST">{%csrf_token%}
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Texto:</label>
					<div class="col-lg-5 col-md-7 col-xs-9 col-sm-8">
						<textarea  id="texto" required type="text" name="texto" class="form-control" maxlength="254" placeholder="Texto de la pregunta"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Posición:</label>
					<div class="col-lg-5 col-md-7 col-xs-9 col-sm-8">
						<input  id="posicion" required type="number" name="posicion" min="1" max="99999" class="form-control" maxlength="254" placeholder="Posición dentro de la variable" value="{{Variable.max_preguntas |add:1}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Activa:</label>
					<div class="col-lg-1 col-md-2 col-xs-2 col-sm-2">
						<input id="activa" {%if Variable.estado%}checked{%else%}disabled{%endif%} type="checkbox" name="estado" class="switch" >
					</div>
					 {%if not Variable.estado%}<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<span>No se pueden activar preguntas de variables inactivas</span>
					</div>{%endif%}
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label required">Tipo de pregunta:</label>
					<div class="col-lg-5 col-md-7 col-xs-9 col-sm-8" >
						<select id="tipo" class="chosen-select form-control" name="tipo">
							<option selected value="Unica">Única respuesta</option>
							<option value="Numerica">Única respuesta con valor numérico</option>
							<option value="Multiple">Múltiple respuesta</option>
							<option value="MultipleNumerica">Múltiple respuesta con valor numérico</option>
							<option value="Abierta">Abierta</option>
						</select>
					</div>
				</div>
				<div id="contenedor">
					<div id="0" class="form-group">
						<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Respuesta 1:</label>
						<div class="col-lg-5 col-md-5 col-xs-6 col-sm-6">
							<input required type="text" name="respuesta0" class="form-control" maxlength="254" placeholder="Texto de la opción">
						</div>
						<label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label required numerica oculto">Numérico:</label>
						<div class="col-lg-3 col-md-3 col-xs-2 col-sm-2 numerica oculto">
							<input type="number" name="numerico0" class="form-control numerica oculto" maxlength="254" placeholder="Valor">
						</div>
					</div>
				</div>
				<input id="contador" type="hidden" name="contador" value="1">
				<div class="container-fluid">
					<span id="agregar" class="btn btn-info pull-left m-t"><i class="fa fa-plus"></i> Agregar respuesta</span>
					<span id="eliminar" class="btn btn-warning pull-left m-t m-l"><i class="fa fa-trash"></i> Eliminar respuesta</span>
					<button type="submit" class="btn btn-primary pull-right m-t"><i class="fa fa-save"></i> Grabar pregunta</button>
				</div>
			</form>
        </div>
	</div>
</div>
</div>
{%endblock%}
{% block scripts%}
<script src="{% static 'js/plugins/chosen/chosen.min.js' %}"></script>
<script>var config = {'.chosen-select': {},'.chosen-select-deselect'  : {allow_single_deselect:true},'.chosen-select-no-single' : {disable_search_threshold:10},'.chosen-select-no-results': {no_results_text:'No se encontraron resultados.'},'.chosen-select-width': {width:"95%"}};for (var selector in config) {$(selector).chosen(config[selector]);};</script>
<script type="text/javascript" src="{% static 'js/plugins/switchery/switchery.min.js' %}"></script>
<script>var elems = $('.switch'), lenelems = elems.length;for (var i = 0; i < lenelems; i++) {var switchery = new Switchery(elems[i]);}</script>
<script type="text/javascript">
$(document).ready(function(){
	var $tipo=$("#tipo"),$contenedor=$('#contenedor'),$agregar=$('#agregar'),
	$eliminar=$('#eliminar'),aux_cantidad=1,cantidad=1,$contador=$('#contador');
	$tipo.change(function(){
		$('.numerica').addClass('oculto');
		switch ($tipo[0].selectedIndex) {
			case 4:
				$contenedor.html('');
				aux_cantidad = 0;
				cantidad = 0;
				break;
			case 3:
				$('.numerica').removeClass('oculto');
				$('.numerica').prop('required',true);
				break;
			case 2:
				$('.numerica').addClass('oculto');
				$('.numerica').prop('required',false);
				break;
			case 1:
				$('.numerica').removeClass('oculto');
				$('.numerica').prop('required',true);
				break;
			case 0:
				$('.numerica').addClass('oculto');
				$('.numerica').prop('required',false);
				break;
		}
	});
	$agregar.click(function(){
		if( ($tipo[0].selectedIndex == 1 || $tipo[0].selectedIndex == 3) && cantidad < 13){
			aux_cantidad +=1;
			$contenedor.append('<div id="'+cantidad+'" class="form-group"><label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Respuesta '+aux_cantidad+':</label><div class="col-lg-5 col-md-5 col-xs-6 col-sm-6"><input required type="text" name="respuesta'+cantidad+'" class="form-control" maxlength="254" placeholder="Texto de la opción"></div><label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label required numerica">Numérico:</label><div class="col-lg-3 col-md-3 col-xs-2 col-sm-2 numerica"><input required type="number" name="numerico'+cantidad+'" class="form-control" maxlength="254" placeholder="Valor"></div></div>')
			cantidad +=1;
			$contador.val(cantidad);
		}
		else if(($tipo[0].selectedIndex == 0 || $tipo[0].selectedIndex == 2) && cantidad < 13){
			aux_cantidad +=1;
			$contenedor.append('<div id="'+cantidad+'" class="form-group"><label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Respuesta '+aux_cantidad+':</label><div class="col-lg-5 col-md-5 col-xs-6 col-sm-6"><input required type="text" name="respuesta'+cantidad+'" class="form-control" maxlength="254" placeholder="Texto de la opción"></div><label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label required numerica oculto">Numérico:</label><div class="col-lg-3 col-md-3 col-xs-2 col-sm-2 numerica oculto"><input type="number" name="'+cantidad+'" class="form-control" maxlength="254" placeholder="Valor"></div></div>')
			cantidad +=1;
			$contador.val(cantidad);
		}
	});
	$eliminar.click(function(){
		if(cantidad >0){
		cantidad -=1;
		aux_cantidad -=1;
		$("#"+cantidad).remove();
		$contador.val(cantidad);}
	});
});
</script>
{%endblock%}
