{% extends 'dash.html'%}{% load staticfiles%}
{%block title%} Home | Contraseña{%endblock%}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="#"><i><span>/ Contraseña</i></span></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> {{user.first_name | capfirst | escape }}, aquí puedes cambiar tu contraseña</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			<form class="form-horizontal" method="POST" action=".">{%csrf_token%}
				<div class="row">
					<div class="form-group">
						 <div class="col-xs-1"></div>
						<label class="col-xs-2 control-label">Contraseña actual:</label>
						<div class="col-xs-5"><input name="cpassword" type="password" class="form-control" maxlength="255" required title="Este campo es obligatorio"></div>
						<div class="col-xs-4 control-label m-t" ></div>
					</div>
					<div class="form-group">
						 <div class="col-xs-1"></div>
						<label class="col-xs-2 control-label">Nueva contraseña:</label>
						<div class="col-xs-5"><input name="password" type="password" class="form-control" maxlength="255" pattern=".{8,}" required title="Debe tener 8 carácteres mínimo"></div>
						<div class="col-xs-4 control-label m-t" ></div>
					</div>
					<div class="form-group">
						 <div class="col-xs-1"></div>
						<label class="col-xs-2 control-label">Repita la nueva contraseña:</label>
						<div class="col-xs-5"><input name="password2" type="password" class="form-control" maxlength="255" pattern=".{8,}" required title="Debe tener 8 carácteres mínimo"></div>
					</div>
				{%if Cambio%}
				<div class="form-group">
					 <div class="col-xs-1"></div>
					<label class="col-xs-2 control-label"></label>
					<div class="col-xs-5">{{Cambio}}</div>
				</div>{%endif%}
				<button type="submit" class="btn btn-primary pull-right m-r"><i class="fa fa-refresh"></i> Cambiar</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block scripts%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript">$('form').validate({ errorPlacement:function(error,element){	error.appendTo(element.parent());}	});</script>
{% endblock %}
