{% extends "base.html" %}{% block head %}{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="{% static 'css/estilo.min.css' %}" rel="stylesheet">
{%block head2%}{%endblock%}{%endblock%}{%block contenido%}
<div id="wrapper">
<nav class="navbar-default navbar-static-side" role="navigation" style="z-index:999">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
		<li class="nav-header">
			<div class="dropdown profile-element">
				<span><img alt="image" src="{% static 'img/GoChange.png' %}"/></span>
			</div>
		</li>
		{%if Permisos.consultor%}<li id="Configuracion">
			<a href="#"><i class="fa fa-cube"></i><span class="nav-label"> Configuración </span></a>
			<ul class="nav nav-second-level">
				{%if Permisos.var_see or Permisos.pre_see%}<li id="Variables"><a href="/variables/"><i class="fa fa-sitemap"></i>Variables y preguntas</a></li>{%endif%}
				{%if Proyecto.interna%}{%if Permisos.col_add%}<li id="Participantes">
					<a href="#"><i class="fa fa-group"></i>Participantes</a>
					<ul class="nav nav-third-level">
						<li id="AcrhivoPlano"><a href="/participantes/archivo/"><i class="fa fa-file-excel-o"></i> Agregar en archivo plano</a></li>
						{%if Permisos.col_see%}<li id="Individual"><a href="/participantes/individual/"><i class="fa fa-male"></i> Individual</a></li>{%endif%}

					</ul>
				</li>{%endif%}{%endif%}
				<li id="IniciarDetener"><a href="/gosurvey/"><i class="fa fa-power-off"></i> Iniciar | detener</a></li>
			</ul>
		</li>{%endif%}
		<li id="EstadoAvance">
			<a href="#"><i class="fa fa-road"></i><span class="nav-label"> Estado de avance </span></a>
			<ul class="nav nav-second-level">
				<li id="EnviosRespuestas"><a href="/respuestas/metricas/"><i class="fa fa-exchange"></i> Envíos y respuestas</a></li>
				{%if Permisos.det_see%}<li id="RespuestasDetalladas"><a href="/respuestas/detalladas/"><i class="fa fa-puzzle-piece"></i> Respuestas detalladas</a></li>{%endif%}
			</ul>
		</li>
		<li id="AnalisisResultados">
			<a href="#"><i class="fa fa-dashboard"></i><span class="nav-label"> Análisis de resultados </span></a>
			<ul class="nav nav-second-level">
				<li id="Resultados"><a href="#"><i class="fa fa-rocket"></i> Resultados </a></li>
				<li id="AnalisisTextual"><a href="#"><i class="fa fa-file-text-o"></i> Textual</a></li>
				<li id="CruceVariables"><a href="#"><i class="fa fa-random"></i> Cruce de variables</a></li>
				<li id="AnalisisPropension"><a href="#"><i class="fa fa-th"></i> Propensión</a></li>
			</ul>
		</li>
		<li ><a href="/salir/"><i class="fa fa-user fa-sign-out"></i><span class="nav-label"</span> Cerrar sesión</a></li>
		</ul>
	</div>
	<!-- Fin Barra de Navegación Lateral -->
</nav>
<div id="page-wrapper" class="gray-bg animated fadeInRight">
<style>#BC{position:absolute;margin:8px 0 0 -26px;-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);background:#27A9E1;border:1px solid #27A9E1;outline: 0}#BC:hover{margin-left:-20px;-moz-transition-property:margin-left;-moz-transition-duration:.6s;-webkit-transition-property:margin-left;-webkit-transition-duration:.6s;-o-transition-property:margin-left;-o-transition-duration:.6s}}</style>
<a id="BC" class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
{%block contenido2%}{%endblock%}
<div class="footer"><div class="pull-right"><strong>Copyright Networks Lab</strong> &copy; 2015-2020</div></div>
<!-- MENU -->
<script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.min.js' %}"></script>
<script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<!-- Custom and plugin javascript -->
<script src="{% static 'js/dash.min.js' %}"></script>
<script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>
<script>$('#{{Activar}}').addClass('active');{%if activar%}$('#{{activar}}').addClass('active');{%endif%}{%if activarp%}$('#{{activarp}}').addClass('active');{%endif%}</script>
{% block scripts%}{% endblock %}</div></div>{% endblock %}
