{% extends "dash.html" %}{% load staticfiles%}
{% block title %} Home | Eliminar {% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="#"><i><span>/ Eliminar</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> {{user.first_name | capfirst | escape }}, por favor proceda con precaución:</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			{%ifequal objeto "Empresa"%}<div class="m" style="text-rendering: optimizeLegibility;">Eliminar una empresa ocasiona que los siguientes elementos asociados:<br><br><ul><li>Proyectos <ul>{%for i in Empresa.proyectos_set.all%}<li>{{i.nombre | escape}}</li>{%endfor%}</ul></li><li>Variables</li><li>Preguntas</li><li>Colaboradores</li><li>Respuestas de los participantes</li></ul><strong>sean eliminados definitivamente.</strong><br><br>¿Está seguro de querer Eliminar la empresa <strong>{{Empresa.nombre | escape}}</strong>?</div>{%endifequal%}
			{%ifequal objeto "Usuario"%}<div class="m" style="text-rendering: optimizeLegibility;">Eliminar una usuario ocasiona que los siguientes elementos asociados:<br><br><ul><li>Empresas</li><li>Usuarios creados por el  <ul>{%for i in Usuarios %}<li>{{i.usuario.first_name | escape}} {{i.usuario.last_name | escape}}</li>{%endfor%}</ul></li><li>TODOS los proyectos creados por él</li><li>TODAS las respuestas de participantes dichos proyectos</li></ul><strong>sean eliminados definitivamente.</strong><br><br>¿Está seguro de querer Eliminar al usuario <strong>{{Usuario.first_name |escape}} {{Usuario.last_name |escape}}</strong>?</div>{%endifequal%}
			{%ifequal objeto "Proyecto"%}<div class="m" style="text-rendering: optimizeLegibility;">Eliminar un proyecto ocasiona que los siguientes elementos asociados:<br><br><ul><li>Variables</li><li>Preguntas</li><li>Colaboradores</li><li>TODAS las respuestas de participantes dicho proyecto</li></ul><strong>sean eliminados definitivamente.</strong><br><br>¿Está seguro de querer Eliminar el proyecto <strong>{{Proyecto.nombre |escape}}</strong> de la empresa <strong>{{Proyecto.empresa.nombre | escape}}</strong>?</div>{%endifequal%}
			<form  method="POST">{%csrf_token%}
            	<div class="container-fluid">
					{%ifequal objeto "Empresa"%}<a href="/empresas/" class="btn btn-primary pull-left m-t"><i class="fa fa-life-saver"></i> Cancelar</a>{%endifequal%}
					{%ifequal objeto "Usuario"%}<a href="/usuarios/" class="btn btn-primary pull-left m-t"><i class="fa fa-life-saver"></i> Cancelar</a>{%endifequal%}
					{%ifequal objeto "Proyecto"%}<a href="/home/" class="btn btn-primary pull-left m-t"><i class="fa fa-life-saver"></i> Cancelar</a>{%endifequal%}
					<button type="submit" class="btn btn-danger pull-right m-t"><i class="fa fa-trash"></i> Eliminar definitivamente</button>
				</div>
            </form>

		</div>
	</div>
</div>
{% endblock %}
