{%extends "dash.html" %}{% load staticfiles%}
{%block title%} Home | Empresas {%endblock%}
{%block head2%}<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />{%endblock%}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="/empresas"><i><span>/ Empresas </span></i></a></li>
<li><a href="#"><i><span>/ Nueva </span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> Complete los siguientes campos para agregar una:</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			<form class="form-horizontal" method="POST">{%csrf_token%}
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Nombre:</label>
					<div class="col-lg-5 col-md-5 col-xs-9 col-sm-8">
						<input  id="nombre" required title="Este campo es obligatorio" type="text" name="nombre" class="form-control" maxlength="100" placeholder="Nombre de la empresa a registrar">
						<div id="errornombre"></div>
					</div>

				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Nit:</label>
					<div class="col-lg-5 col-md-5 col-xs-9 col-sm-8">
						<input  id="nit" required title="Este campo es obligatorio" type="text" name="nit" class="form-control" maxlength="20" placeholder="Nit de la empresa a registrar">
						<div id="errornit"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Página web:</label>
					<div class="col-lg-5 col-md-5 col-xs-9 col-sm-8">
						<input  required title="Este campo es obligatorio" type="text" name="pagina" class="form-control" maxlength="1000" placeholder="Página de redirección al terminar una encuesta">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Máximo número de empleados:</label>
					<div class="col-lg-5 col-md-5 col-xs-9 col-sm-8">
						<input  required title="Este campo es obligatorio" type="number" name="num_empleados" class="form-control" min="0" max="9999999" placeholder="Máximo número de empleados">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required" >Sector económico:</label>
					<div class="col-lg-5 col-md-5 col-xs-9 col-sm-8">
						<select class="select2 form-control" name="sector" data-placeholder="Sector económico" required title="Este campo es obligatorio">
							<option value=""></option>
							<option  value="Administración">Administración</option>
							<option  value="Agrícola">Agrícola</option>
							<option  value="Comercial">Comercial</option>
							<option  value="Comunicaciones">Comunicaciones</option>
							<option  value="Construcción">Construcción</option>
							<option  value="Consultoría">Consultoría</option>
							<option  value="Educativo">Educativo</option>
							<option  value="Energético">Energético</option>
							<option  value="Entidad Estatal">Entidad Estatal</option>
							<option  value="Financiero">Financiero</option>
							<option  value="Forestal">Forestal</option>
							<option  value="Ganadero">Ganadero</option>
							<option  value="Industrial">Industrial</option>
							<option  value="Minero">Minero</option>
							<option  value="Pesquero">Pesquero</option>
							<option  value="Sanitario">Sanitario</option>
							<option  value="Servicios">Servicios</option>
							<option  value="Software y tecnologías de la información">Software y tecnologías de la información</option>
							<option  value="Solidario">Solidario</option>
							<option  value="Transportes">Transportes</option>
							<option  value="Turístico">Turístico</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label required">País:</label>
					<div class="col-lg-5 col-md-5 col-sm-9 col-xs-8">
						<select id="country" name="pais" class="select2 form-control" data-placeholder="País" required title="Este campo es obligatorio">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-sm-2 col-xs-2 control-label required">Departamento:</label>
					<div class="col-lg-5 col-md-5 col-sm-9 col-xs-8">
						<select  id="state" name="departamento" class="select2 form-control" data-placeholder="Departamento" required title="Este campo es obligatorio">
							<option value=""></option>
						</select>
					</div>
				</div>
				<div class="container-fluid"><button type="submit" class="btn btn-primary pull-right m-t"><i class="fa fa-save"></i> Grabar Empresa</button></div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts%}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script type="text/javascript" src="{% static 'js/plugins/ciudades/ciudades.min.js' %}"></script>
<script >populateCountries("country", "state");</script>
<script>$('.select2').select2()</script>
<script>$(document).ready(function(){var nombres =[],$nombre = $("#nombre"),	nits =[],$nit = $("#nit"),$errornombre=$('#errornombre'),	$errornit=$('#errornit');{% for i in Empresas%}nombres.push('{{i.nombre |escape|safe}}');nits.push('{{i.nit |escape|safe}}');{% endfor %}nnombres=nombres.length;$nombre.keyup(function(){ban = false;for (var i = 0; i < nnombres; i++) {if($nombre.val() == nombres[i]){$errornombre.html('<span style="color:#cd1e21">Este nombre ya se encuentra registrado.</span>');ban = true;}if(! ban){$errornombre.html('');}}$nombre.val});nnits=nits.length;$nit.keyup(function(){ban2 = false;for (var i = 0; i < nnits; i++) {if($nit.val() == nits[i]){$errornit.html('<span style="color:#cd1e21">Este nit ya se encuentra registrado.</span>');ban2 = true;}if(! ban2){$errornit.html('');}}$nombre.val});});</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<script type="text/javascript">$('form').validate({ errorPlacement:function(error,element){	error.appendTo(element.parent());}	});</script>
{% endblock %}
