{% extends "dash.html" %}{% load staticfiles%}
{% block title %} Home | Empresas {% endblock %}
{% block head2 %}<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css"/>{% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="#"><i><span>/ Empresas</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title">{{user.first_name | capfirst | escape }}, añada edite o elimine empresas para que estén disponibles en sus proyectos.</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			<table id="emp" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
						<th>Sector Económico</th>
                        <th>Empleados Aprox.</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in Empresas %}
                    <tr>
                        <td><a href="/empresa/editar/{{i.id}}">{{i.nombre | capfirst | escape}}</a></td>
						<td>{{i.sector | escape}}</td>
						<td>{{i.num_empleados | escape}}</td>
                        <td><a href="/empresa/editar/{{i.id}}"><i class="fa fa-edit m-r" title="editar"></i></a><a href="/empresa/eliminar/{{i.id}}"><i class="fa fa-trash m-r" title="eliminar"></i></a></td>
                    </tr>{% endfor %}
                </tbody>
            </table>
			<div class="container-fluid"><a href="/empresa/nueva/" class="btn btn-primary pull-right m-t"><i class="fa fa-plus"></i> Agregar Empresa</a></div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts%}
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>$("#emp").dataTable({"columns":[{ className: "center" },{ className: "center" },{ className: "center" },{ className: "center" }],language:{sProcessing:"Procesando...",sLengthMenu:"Mostrar _MENU_ empresas",sZeroRecords:"No se encontraron resultados",sEmptyTable:"No posees ninguna empresa creada.",sInfo:"Empresas del _START_ al _END_ de un total de _TOTAL_",sInfoEmpty:"Empresas del 0 al 0 de un total de 0",sInfoFiltered:"(filtrado de un total de _MAX_ empresas)",sInfoPostFix:"",sSearch:"Buscar:",sUrl:"",sInfoThousands:",",sLoadingRecords:"Cargando...",oPaginate:{sFirst:"Primero",sLast:"Último",sNext:"Siguiente",sPrevious:"Anterior"},oAria:{sSortAscending:": Activar para ordenar la columna de manera ascendente",sSortDescending:": Activar para ordenar la columna de manera descendente"}}});</script>
{%endblock%}
