{% extends "dash.html" %}{%load staticfiles %}
{% block title %} Home | Licencia{% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="#"><i><span>/ Licencia</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> Información de la licencia:</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-lg-3 col-md-3 col-xs-5 col-sm-4 control-label required">Proyectos Totales de la licencia:</label>
					<div class="col-lg-4 col-md-6 col-xs-7 col-sm-6">
						<input  title="Proyectos totales de la licencia" type="text" readonly class="form-control" Value="{{ request.user.permisos.max_proyectos }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 col-md-3 col-xs-5 col-sm-4 control-label required">Total de proyectos usados:</label>
					<div class="col-lg-4 col-md-6 col-xs-7 col-sm-6">
						<input  title="Número total de proyectos usados (activados) como consulto" type="text" readonly class="form-control" Value="{{ request.user.permisos.max_pro_usados }}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
