{% extends "dash.html" %}{%load staticfiles %}
{%block title%} Home | Soporte{%endblock%}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="#"><i><span>/ Soporte</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> {{user.first_name | capfirst | escape }}, aquí puedes solicitar citas, reportar errores, así como conceder felicitaciones:</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			<form class="form-horizontal" enctype="multipart/form-data" method="POST" action=".">{%csrf_token%}
                <div class="row">
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label required">Reporte:</label>
                        <div class="col-lg-5 col-md-5 col-sm-9 col-xs-8" >
                           <textarea class="form-control" placeholder="En caso de cita dejar un teléfono de contacto. En caso de error, describa claramente, que estaba realizando cuando sucedió." name="reporte" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 col-md-3 col-sm-3 col-xs-3 control-label norequired">Imagen adicional:</label>
                        <div class="col-lg-5 col-md-5 col-sm-9 col-xs-8" >
                            <input name="imagen" type="file">
                        </div>
                    </div>
                {%if Aviso%}
                <div class="form-group">
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                    <div class="col-lg-5 col-md-5 col-sm-9 col-xs-8" style="color:#1d9d73;text-align:justify">Su reporte ha sido correctamente enviado. Gracias por su paciencia y colaboración. Nuestro equipo se comunicará cuando el error se encuentre resuelto o para pedir más detalles.</div>
                </div>{%endif%}
                <button type="submit" class="btn btn-primary pull-right m-r"><i class="fa fa-send"></i> Reportar</button>
                </div>
            </form>
		</div>
	</div>
</div>
{% endblock %}
