{% extends "dash.html" %}{% load staticfiles%}
{% block title %} Home | Usuarios {% endblock %}
{% block head2 %}<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css"/>{% endblock %}
{% block contenido2 %}
<style>.chosen-container-single .chosen-single {border-radius:0%;}</style>
<div class="row">
<div class="m-l m-r row wrapper border-bottom white-bg page-heading">
	<div class="col-lg-12">
		<h2>Administrar Usuarios</h2>
		<ol class="breadcrumb">
			<li >
				<a href="/home/"><i class="fa fa-home"></i> Home</a>
			</li>
			<li>Usuarios</li>
		</ol>
	</div>
</div>
<div class="m-t col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h5 class="m-r-xs">Agregue, edite o elimine usuarios.</h5>
			<div class="ibox-tools">
				<a class="collapse-link">
					<i class="fa fa-chevron-up"></i>
				</a>
			</div>
		</div>
		<div class="ibox-content">
            <table id="emp" class="table table-striped table-bordered" cellspacing="0" width="99%">
                <thead>
                    <tr>
                        <th>Nombre y apellido</th>
                        <th>email</th>
						<th>empresas</th>
                        <th>Activo</th>
						<th>Reenviar</th>
						<th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in Usuarios %}<tr>
                        <td><a href="/usuario/editar/{{i.usuario.id}}/">{{i.usuario.first_name | capfirst | escape}} {{i.usuario.last_name | capfirst | escape}}</a></td>
						<td>{{i.usuario.email | escape}}</td>
						<td><ul>{% for j in i.usuario.empresas_set.all %}<li>{{j.nombre | escape}}</li>{%endfor%}</ul></td>
                        <td>{%if i.usuario.is_active%}<span style="color:#1d9d73">Activo</span>{%else%}<span style="color:#cd1e21">Inactivo</span>{%endif%}</td>
						<td>{%if i.usuario.is_active%}<i style="color:#1d9d73" class="fa fa-check-circle-o m-r"></i>{%else%}<a href="/usuario/reenviar/{{i.usuario.id}}/"><i class="fa fa-envelope-o m-r"></i></a>{%endif%}</td>
						<td><a href="/usuario/editar/{{i.usuario.id}}/"><i class="fa fa-edit m-r"></i></a><a href="/usuario/eliminar/{{i.usuario.id}}/"><i class="fa fa-trash m-r"></i></a></td>
					</tr>{% endfor %}
                </tbody>
            </table>
            <div class="container-fluid"><a href="/usuario/nuevo/" class="btn btn-primary pull-right m-t"><i class="fa fa-plus"></i> Agregar Usuario</a></div>
        </div>
	</div>
</div>
</div>
{%endblock%}
{% block scripts%}
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>$("#emp").dataTable({"columns":[{ className: "center" },{ className: "center" },{ className: "center" },{ className: "center" },{ className: "center" },{ className: "center" }],scrollX:!0,language:{sProcessing:"Procesando...",sLengthMenu:"Mostrar _MENU_ usuarios",sZeroRecords:"No se encontraron resultados",sEmptyTable:"No posees ningun usuario creado.",sInfo:"Usuarios del _START_ al _END_ de un total de _TOTAL_",sInfoEmpty:"Usuarios del 0 al 0 de un total de 0",sInfoFiltered:"(filtrado de un total de _MAX_ usuarios)",sInfoPostFix:"",sSearch:"Buscar:",sUrl:"",sInfoThousands:",",sLoadingRecords:"Cargando...",oPaginate:{sFirst:"Primero",sLast:"Último",sNext:"Siguiente",sPrevious:"Anterior"},oAria:{sSortAscending:": Activar para ordenar la columna de manera ascendente",sSortDescending:": Activar para ordenar la columna de manera descendente"}}});</script>
{%endblock%}
