{% extends "dash.html" %}{%load staticfiles %}
{% block title %} Home | Usuarios {% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="/usuarios/"><i><span>/ Usuarios</span></i></a></li>
<li><a href="#"><i><span>/ Reenvio</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> {{user.first_name | capfirst | escape }}, Confirme el reenvío.:</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			<div class="m" style="text-rendering: optimizeLegibility;">El correo de confirmación puede tardar un máximo de 10 minutos en llegar.<br><br><br> ¿Está seguro de querer reenviar el link de activación a <strong>{{Usuario.email |escape}}</strong>?</div>
            <form  method="POST">{%csrf_token%}
            	<div class="container-fluid">
					<a href="/usuarios/" class="btn btn-warning pull-left m-t"><i class="fa fa-times"></i> Regresar</a>
					<button type="submit" class="btn btn-primary pull-right m-t"><i class="fa fa-envelope-o"></i> Enviar</button>
				</div>
            </form>
			{%if Alerta%}<p id="alerta">{{Alerta | escape}}</p>{%endif%}
		</div>
	</div>
</div>
{% endblock %}
