{% extends "dash2.html" %}{%load staticfiles %}
{% block title %} A. Focalizado{% endblock %}
{% block head2 %}
<link rel="stylesheet" href=" {% static 'plugins/jQRangeSlider-master/css/iThing.css' %}  " type="text/css" />
<style media="screen">div.charts-tooltip div{border-color: #ccc !important;background-color: #fff !important}.multiselect{margin-left: -15px !important;}.panel-body .panel{opacity:0}#control_grafica_dos_div div div span,#control_grafica_tres_div div div span,#control_grafica_uno_div div div span,#grafica_dos_div div div span,#grafica_tres_div div div span,#grafica_uno_div div div span{display:none!important}</style>
{% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="#"><i><span>/ Análisis</span></i></a></li>
<li><a href="#"><i><span>/ Focalizado</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title">Promedio general por variable en tiempo real</h4>
		</div>
		<div class="panel-body">
			<div class="col-lg-9">
				<div align="center">
					<input id="lastDay" type="button" value="Ultimo Dia" />
					<input id="lastWeek" type="button" value="Ultima Semana" />
					<input id="lastMonth" type="button" value="Ultimo Mes" />
				</div>
				<div style='margin: 0 5px 0 5px' id="grafica_uno_div"></div>
				<div style='margin: 0 5px 0 5px' id="control_grafica_uno_div"></div>
			</div>

			<div class="col-lg-3 m-t-xs">
				<div class="panel panel-default toggle">
					<!-- Inicio .panel -->
					<div class="panel-heading">
						<h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Filtros </h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-xs-5 control-label">Variables</label>
									<div class="col-xs-2">
										<select id="variables_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Preguntas</label>
									<div class="col-xs-2">
										<select id="preguntas_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Regionales</label>
									<div class="col-xs-2">
										<select id="regionales_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Ciudades</label>
									<div class="col-xs-2">
										<select id="ciudades_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Áreas</label>
									<div class="col-xs-2">
										<select id="areas_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Cargos</label>
									<div class="col-xs-2">
										<select id="cargos_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								{%if PDatos.opcional1 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional1 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional1_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional2 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional2 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional2_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional3 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional3 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional3_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional4 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional4 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional4_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional5 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional5 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional5_g1" class="filtro filtros_uno form-control" multiple></select>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title">Resultados generales recuento de preguntas por área</h4>
		</div>
		<div class="panel-body">
			<div class="col-lg-9">
				<div style='margin: 0 5px 0 5px' id="grafica_dos_div"></div>
				<br>
				<div id="control_grafica_dos_div"></div>
				<br><br>
			</div>

			<div class="col-lg-3">
				<div class="panel panel-default toggle">
					<!-- Inicio .panel -->
					<div class="panel-heading">
						<h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Filtros</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-xs-5 control-label">Variables</label>
									<div class="col-xs-2">
										<select id="variables_g2" class="filtros_dos form-control"></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Preguntas</label>
									<div class="col-xs-2">
										<select id="preguntas_g2" class="filtros_dos form-control"></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Regionales</label>
									<div class="col-xs-2">
										<select id="regionales_g2" class="filtro filtros_dos form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Ciudades</label>
									<div class="col-xs-2">
										<select id="ciudades_g2" class="filtro filtros_dos form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Áreas</label>
									<div class="col-xs-2">
										<select id="areas_g2" class="filtro filtros_dos form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Cargos</label>
									<div class="col-xs-2">
										<select id="cargos_g2" class="filtro filtros_dos form-control" multiple></select>
									</div>
								</div>
								{%if PDatos.opcional1 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional1 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional1_g2" class="filtro filtros_dos form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional2 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional2 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional2_g2" class="filtro filtros_dos form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional3 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional3 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional3_g2" class="filtro filtros_dos form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional4 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional4 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional4_g2" class="filtro filtros_dos form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional5 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional5 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional5_g2" class="filtro filtros_dos form-control" multiple></select>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title">Resultados Generales Porcentaje Por Variable</h4>
		</div>
		<div class="panel-body">
			<div class="col-lg-9">
				<div style='margin: 0 5px 0 5px' id="grafica_tres_div"></div>
				<br>
				<div style='margin: 0 5px 0 5px' id="control_grafica_tres_div"></div>
				<br><br>
			</div>

			<div class="col-lg-3">
				<div class="panel panel-default toggle">
					<!-- Inicio .panel -->
					<div class="panel-heading">
						<h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Filtros</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="form-horizontal">
								<div class="form-group">
									<label class="col-xs-5 control-label">Variables</label>
									<div class="col-xs-2">
										<select id="variables_g3" class="filtros_tres form-control"></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Preguntas</label>
									<div class="col-xs-2">
										<select id="preguntas_g3" class="filtro filtros_tres form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Regionales</label>
									<div class="col-xs-2">
										<select id="regionales_g3" class="filtro filtros_tres form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Ciudades</label>
									<div class="col-xs-2">
										<select id="ciudades_g3" class="filtro filtros_tres form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Áreas</label>
									<div class="col-xs-2">
										<select id="areas_g3" class="filtro filtros_tres form-control" multiple></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-xs-5 control-label">Cargos</label>
									<div class="col-xs-2">
										<select id="cargos_g3" class="filtro filtros_tres form-control" multiple></select>
									</div>
								</div>
								{%if PDatos.opcional1 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional1 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional1_g3" class="filtro filtros_tres form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional2 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional2 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional2_g3" class="filtro filtros_tres form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional3 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional3 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional3_g3" class="filtro filtros_tres form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional4 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional4 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional4_g3" class="filtro filtros_tres form-control" multiple></select>
									</div>
								</div>
								{% endif %}
								{%if PDatos.opcional5 %}
								<div class="form-group">
									<label class="col-xs-5 control-label">{{ PDatos.opcional5 | escape }}</label>
									<div class="col-xs-2">
										<select id="opcional5_g3" class="filtro filtros_tres form-control" multiple></select>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{%block scripts%}
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script> -->

<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderMouseTouch.min.js'%} "></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderDraggable.min.js'%} "></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderBar.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderHandle.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQDateRangeSliderHandle.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderLabel.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSlider.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQDateRangeSlider.min.js'%}"></script>
  <!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.2','packages':['corechart']}]}"></script>
<script type="text/javascript" src="{% static 'js/plugins/multiselect/bootstrap-multiselect.min.js' %}"></script>
<script type="text/javascript">
var Datos = [	{% for i in Datos %}[ {{ i.colaborador_id | safe }},{% if not i.pregunta.multiple %}['{{i.respuesta}}'],{% else %}{{i.respuesta | safe }},{% endif %}new Date({{ i.fecharespuesta.year | safe }},{{ i.fecharespuesta.month | safe }}-1,{{ i.fecharespuesta.day | safe }}),{{ i.pregunta_id | safe }}],{% endfor %} ];
var Participantes = { {% for i in Participantes %}{{i.id_id|safe}}:{'area': `{{i.area}}`,'cargo': `{{i.cargo}}`,'ciudad': `{{i.ciudad}}`,'regional': `{{i.regional}}`,{% if PDatos.opcional1 %}'opcional1': `{{i.opcional1}}`,{% endif %}{% if PDatos.opcional2 %}'opcional2': `{{i.opcional2}}`,{% endif %}{% if PDatos.opcional3 %}'opcional3': `{{i.opcional3}}`,{% endif %}{% if PDatos.opcional4 %}'opcional4': `{{i.opcional4}}`,{% endif %}{% if PDatos.opcional5 %}'opcional5': `{{i.opcional5}}`,{% endif %}	},{% endfor %}	};
var Cuestionario = { {% for i in Cuestionario %}{{i.id|safe}}:{	'respuestas':{	{% for j in i.respuestas_set.all %}	'{{j.texto}}':{% if i.numerica %}{{j.numerico|safe}}{% else %}0{% endif%},{% endfor %} },'texto': `{{i.texto}}`,'variable': {{ i.variable_id | safe }},'variable_str':`{{i.variable.nombre}}`},{% endfor %} };

var contenido = function(a,x){
	if (a == undefined ) return true;
	for (var i = 0; i < x.length; i++) if (a == x[i]) return true;
	return false;
}

var contenido_date = function(a,x){
	for (var i = x.length; i > 0; i--) if (a - x[i-1] == 0) return true;
	return false;
}

var minmax_resf = function minmax_resf(){
   var min = Infinity, max = -Infinity, cache;
	for (var i in Cuestionario) {
		cache = Cuestionario[i];
		for (var respuesta in cache['respuestas']) {
			if ( cache['respuestas'][respuesta] < min ) min = cache['respuestas'][respuesta];
			if ( cache['respuestas'][respuesta] > max ) max = cache['respuestas'][respuesta];
		}
	}
	return [min,max];
}

var tiemposIniciales = function(fechas){
	var max_gt = new Date(2000,1,20).getTime(),
		min_gt = new Date(2030,1,20).getTime(),
		f_max = new Date(2030,1,20),
		f_min = new Date(2000,1,20);

	for(var i = 0; i < fechas.length; i++){
			var tiempo = fechas[i].getTime();
			if( tiempo > max_gt ){
				max_gt = tiempo;
                f_max = fechas[i];
				}
			if( tiempo < min_gt ){
				min_gt = tiempo;
				f_min = fechas[i];
			}
		}
    return [f_min,f_max];
}
//==============================================================================
//   variables GLOBALES
//==============================================================================

var variables=[],preguntas=[],regionales=[],ciudades=[],areas=[],cargos=[], 	fechas=[],
	$var_g1 = $('#variables_g1'), $pre_g1 = $('#preguntas_g1'), var_num_str = {},
	$reg_g1 = $('#regionales_g1'), $ciu_g1 = $('#ciudades_g1'), minmax_res = [],
	$are_g1 = $('#areas_g1'), $car_g1 = $('#cargos_g1'),tiemposInicio_0=[],
	variables_str="",preguntas_str_lig="",preguntas_str="",regionales_str="",ciudades_str="",areas_str="",cargos_str="",
	opcional1_str="",opcional2_str="",opcional3_str="",opcional4_str="",opcional5_str="";

{%if PDatos.opcional1 %}var $op1_g1 = $('#opcional1_g1'),opcional1=[];{% endif %}
{%if PDatos.opcional2 %}var $op2_g1 = $('#opcional2_g1'),opcional2=[];{% endif %}
{%if PDatos.opcional3 %}var $op3_g1 = $('#opcional3_g1'),opcional3=[];{% endif %}
{%if PDatos.opcional4 %}var $op4_g1 = $('#opcional4_g1'),opcional4=[];{% endif %}
{%if PDatos.opcional5 %}var $op5_g1 = $('#opcional5_g1'),opcional5=[];{% endif %}

var $var_g2 = $('#variables_g2'), $pre_g2 = $('#preguntas_g2'),
	$reg_g2 = $('#regionales_g2'), $ciu_g2 = $('#ciudades_g2'),
	$are_g2 = $('#areas_g2'), $car_g2 = $('#cargos_g2');

{%if PDatos.opcional1 %}var $op1_g2 = $('#opcional1_g2');{% endif %}
{%if PDatos.opcional2 %}var $op2_g2 = $('#opcional2_g2');{% endif %}
{%if PDatos.opcional3 %}var $op3_g2 = $('#opcional3_g2');{% endif %}
{%if PDatos.opcional4 %}var $op4_g2 = $('#opcional4_g2');{% endif %}
{%if PDatos.opcional5 %}var $op5_g2 = $('#opcional5_g2');{% endif %}


var $var_g3 = $('#variables_g3'), $pre_g3 = $('#preguntas_g3'),
	$reg_g3 = $('#regionales_g3'), $ciu_g3 = $('#ciudades_g3'),
	$are_g3 = $('#areas_g3'), $car_g3 = $('#cargos_g3');

{%if PDatos.opcional1 %}var $op1_g3 = $('#opcional1_g3');{% endif %}
{%if PDatos.opcional2 %}var $op2_g3 = $('#opcional2_g3');{% endif %}
{%if PDatos.opcional3 %}var $op3_g3 = $('#opcional3_g3');{% endif %}
{%if PDatos.opcional4 %}var $op4_g3 = $('#opcional4_g3');{% endif %}
{%if PDatos.opcional5 %}var $op5_g3 = $('#opcional5_g3');{% endif %}


var Elementos = {
//==============================================================================
//   Selects
//==============================================================================
inicio : function(){

	for (var i in Cuestionario) {
		cache = Cuestionario[i];
		if (!contenido(cache['variable'],variables)){
			variables.push(cache['variable']);
			variables_str += "<option value='"+cache['variable']+"'>"+cache['variable_str']+"</option>";
			var_num_str[cache['variable']] = cache['variable_str'];
		}

		if (!contenido(i,preguntas) ){
			preguntas_str += "<option value='"+i+"'>"+cache['texto']+"</option>";
			if ( cache['variable'] == variables[0] ) preguntas_str_lig += "<option value='"+i+"'>"+cache['texto']+"</option>";
			preguntas.push(i);
		}
	}

	for (var i in Participantes) {
		cache = Participantes[i]['regional'];
		if (!contenido(cache,regionales)){
			regionales.push(cache);
			regionales_str += '<option value="'+cache+'">'+cache+'</option>';
		}
		cache = Participantes[i]['ciudad'];
		if (!contenido(cache,ciudades)){
			ciudades.push(cache);
			ciudades_str += '<option value="'+cache+'">'+cache+'</option>';
		}
		cache = Participantes[i]['area'];
		if (!contenido(cache,areas)){
			areas.push(cache);
			areas_str += '<option value="'+cache+'">'+cache+'</option>';
		}
		cache = Participantes[i]['cargo'];
		if (!contenido(cache,cargos)){
			cargos.push(cache);
			cargos_str += '<option value="'+cache+'">'+cache+'</option>';
		}

		{%if PDatos.opcional1 %}
		cache = Participantes[i]['opcional1'];
		if (!contenido(cache,opcional1)){
			opcional1.push(cache);
			opcional1_str += '<option value="'+cache+'">'+cache+'</option>';
		}
		{% endif %}
		{%if PDatos.opcional2 %}
		cache = Participantes[i]['opcional2'];
		if (!contenido(cache,opcional2)){
			opcional2.push(cache);
			opcional2_str += '<option value="'+cache+'">'+cache+'</option>';
		}
		{% endif %}
		{%if PDatos.opcional3 %}
		cache = Participantes[i]['opcional3'];
		if (!contenido(cache,opcional3)){
			opcional3.push(cache);
			opcional3_str += '<option value="'+cache+'">'+cache+'</option>';
		}
		{% endif %}
		{%if PDatos.opcional4 %}
		cache = Participantes[i]['opcional4'];
		if (!contenido(cache,opcional4)){
			opcional4.push(cache);
			opcional4_str += '<option value="'+cache+'">'+cache+'</option>';
		}
		{% endif %}
		{%if PDatos.opcional5 %}
		cache = Participantes[i]['opcional5'];
		if (!contenido(cache,opcional5)){
			opcional5.push(cache);
			opcional5_str += '<option value="'+cache+'">'+cache+'</option>';
		}
		{% endif %}
	}

	$var_g1.html(variables_str);
	$var_g2.html(variables_str);
	$var_g3.html(variables_str);
	$pre_g1.html(preguntas_str);
	$pre_g2.html(preguntas_str_lig);
	$pre_g3.html(preguntas_str_lig);
	$reg_g1.html(regionales_str);
	$reg_g2.html(regionales_str);
	$reg_g3.html(regionales_str);
	$ciu_g1.html(ciudades_str);
	$ciu_g2.html(ciudades_str);
	$ciu_g3.html(ciudades_str);
	$are_g1.html(areas_str);
	$are_g2.html(areas_str);
	$are_g3.html(areas_str);
	$car_g1.html(cargos_str);
	$car_g2.html(cargos_str);
	$car_g3.html(cargos_str);
{% if PDatos.opcional1 %}
	$op1_g1.html(opcional1_str);
	$op1_g2.html(opcional1_str);
	$op1_g3.html(opcional1_str);
{% endif %}
{% if PDatos.opcional2 %}
	$op2_g1.html(opcional2_str);
	$op2_g2.html(opcional2_str);
	$op2_g3.html(opcional2_str);
{% endif %}
{% if PDatos.opcional3 %}
	$op3_g1.html(opcional3_str);
	$op3_g2.html(opcional3_str);
	$op3_g3.html(opcional3_str);
{% endif %}
{% if PDatos.opcional4 %}
	$op4_g1.html(opcional4_str);
	$op4_g2.html(opcional4_str);
	$op4_g3.html(opcional4_str);
{% endif %}
{% if PDatos.opcional5 %}
	$op5_g1.html(opcional5_str);
	$op5_g2.html(opcional5_str);
	$op5_g3.html(opcional5_str);
{% endif %}
	//  UPDATE Selects
	$('.filtro').multiselect({numberDisplayed: 1,includeSelectAllOption: true,buttonWidth: '130px',dropRight: true,disableIfEmpty: true	});
	$('.filtro').multiselect('selectAll', false);
	$('.filtro').multiselect('updateButtonText');
	$var_g2.multiselect({numberDisplayed: 1,includeSelectAllOption: true,buttonWidth: '130px',dropRight: true,disableIfEmpty: true	});
	$var_g2.selectedIndex = 0;
	$var_g2.multiselect('updateButtonText');
	$pre_g2.multiselect({numberDisplayed: 1,includeSelectAllOption: true,buttonWidth: '130px',dropRight: true,disableIfEmpty: true	});
	$pre_g2.selectedIndex = 0;
	$pre_g2.multiselect('updateButtonText');
	$var_g3.multiselect({numberDisplayed: 1,includeSelectAllOption: true,buttonWidth: '130px',dropRight: true,disableIfEmpty: true	});
	$var_g3.selectedIndex = 0;
	$var_g3.multiselect('updateButtonText');

	$var_g1.change(function(){
		var preguntas1 = [],preguntas1_str="",var_sel = $var_g1.val() || [];
		for (var i in Cuestionario) {
			cache = Cuestionario[i];
			if ( contenido(cache['variable'], var_sel)  && !contenido(i,preguntas1)){
				preguntas1.push(i);
				preguntas1_str += "<option value='"+i+"'>"+cache['texto']+"</option>";
			}
		}
		$pre_g1.html(preguntas1_str);
		$pre_g1.multiselect('rebuild');
		$pre_g1.multiselect('selectAll', false);
		$pre_g1.multiselect('updateButtonText');
	});

	$var_g2.change(function(){
		var preguntas2 = [],preguntas2_str="",var_sel = $var_g2.val();
		for (var i in Cuestionario) {
			cache = Cuestionario[i];
			if (cache['variable'] == var_sel && !contenido(i,preguntas2)){
				preguntas2.push(i);
				preguntas2_str += "<option value='"+i+"'>"+cache['texto']+"</option>";
			}
		}
		$pre_g2.html(preguntas2_str);
		$pre_g2.multiselect('rebuild');
		$pre_g2.selectedIndex = 0;
		$pre_g2.multiselect('updateButtonText');
	});

	$var_g3.change(function(){
		var preguntas3 = [],preguntas3_str="",var_sel = $var_g3.val();
		for (var i in Cuestionario) {
			cache = Cuestionario[i];
			if (cache['variable'] == var_sel && !contenido(i,preguntas3)){
				preguntas3.push(i);
				preguntas3_str += "<option value='"+i+"'>"+cache['texto']+"</option>";
			}
		}
		$pre_g3.html(preguntas3_str);
		$pre_g3.multiselect('rebuild');
		$pre_g3.multiselect('selectAll', false);
		$pre_g3.multiselect('updateButtonText');
	});
	var date_sort_asc = function (date1, date2) {
	  if (date1 > date2) return 1;
	  if (date1 < date2) return -1;
	  return 0;
	};
	for (var i = 0; i < Datos.length; i++) if(!contenido_date(Datos[i][2],fechas)) fechas.push(Datos[i][2]);
	fechas.sort(date_sort_asc);
},

//==============================================================================
//   Grafica UNO
//==============================================================================
grafica_uno: function(){
	// cacheamos las seleccionadas
	var variables_seleccionadas=$var_g1.val() || [],
		{%if PDatos.opcional1 %}opcional1_seleccionadas = $op1_g1.val() || [],{% endif %}
		{%if PDatos.opcional2 %}opcional2_seleccionadas = $op2_g1.val() || [],{% endif %}
		{%if PDatos.opcional3 %}opcional3_seleccionadas = $op3_g1.val() || [],{% endif %}
		{%if PDatos.opcional4 %}opcional4_seleccionadas = $op4_g1.val() || [],{% endif %}
		{%if PDatos.opcional5 %}opcional5_seleccionadas = $op5_g1.val() || [],{% endif %}
		preguntas_seleccionadas = $pre_g1.val() || [],
		regionales_seleccionadas = $reg_g1.val() || [],
		ciudades_seleccionadas = $ciu_g1.val() || [],
		areas_seleccionadas = $are_g1.val() || [],
		cargos_seleccionados = $car_g1.val() || [];

	// inicializamos las variables de la data table
	var data = new google.visualization.DataTable(),
		variables_seleccionadas_textos = [], v = $('#variables_g1 option');

	for(var  i=0; i< v.length; i++) if(v[i].selected) variables_seleccionadas_textos.push(v[i].text);

	data.addColumn('date', 'Fecha');

	var matriz_g1 = [],auxiliar = 0, matriz_g1_dic = {}, var_dic = {}, aux = [];

	for (var j = 0; j < variables_seleccionadas.length; j++)
		data.addColumn('number', var_num_str[ variables_seleccionadas[j]] );


	for (var i = 0; i < fechas.length; i++){
		matriz_g1_dic[ fechas[i] ] = { };
		for (var j = 0; j < variables_seleccionadas.length; j++) {
			matriz_g1_dic[ fechas[i] ][ variables_seleccionadas[j] ] = 0;
			matriz_g1_dic[ fechas[i] ][ variables_seleccionadas[j]+'_total' ] = 0;
		}
	}

	// contamos
	for (var j = 0; j < Datos.length; j++) {
		cache_P = Participantes[Datos[j][0]];
		cache_C = Cuestionario[Datos[j][3]];

		if( contenido(cache_C['variable'], variables_seleccionadas)
		&& contenido(cache_P['ciudad'], ciudades_seleccionadas)
		&& contenido(cache_P['regional'], regionales_seleccionadas)
		&& contenido(cache_P['area'], areas_seleccionadas)
		&& contenido(cache_P['cargo'], cargos_seleccionados)
		&& contenido(Datos[j][3], preguntas_seleccionadas)
		{%if PDatos.opcional1 %}
			&& contenido(cache_P['opcional1'],opcional1_seleccionadas)
		{% endif %}
		{%if PDatos.opcional2 %}
			&& contenido(cache_P['opcional2'],opcional2_seleccionadas)
		{% endif %}
		{%if PDatos.opcional3 %}
			&& contenido(cache_P['opcional3'],opcional3_seleccionadas)
		{% endif %}
		{%if PDatos.opcional4 %}
			&& contenido(cache_P['opcional4'],opcional4_seleccionadas)
		{% endif %}
		{%if PDatos.opcional5 %}
			&& contenido(cache_P['opcional5'],opcional5_seleccionadas)
		{% endif %}
		){
			matriz_g1_dic[Datos[j][2]][cache_C['variable']] += cache_C['respuestas'][Datos[j][1]];
			matriz_g1_dic[Datos[j][2]][cache_C['variable']+'_total']++;
		}
	}

	var bandera;
	for (var j = 0; j < fechas.length; j++) {
		cache_F = matriz_g1_dic[ fechas[j] ];
		aux = []
		aux.push( fechas[j] );
		for (var i = 0; i < variables_seleccionadas.length; i++ ) {
			if ( cache_F[variables_seleccionadas[i]+'_total'] != 0 ) {
				aux.push( +(Math.round( cache_F[variables_seleccionadas[i]] / cache_F[variables_seleccionadas[i]+'_total'] + "e+2")  + "e-2") );
			} else if ( matriz_g1_dic.hasOwnProperty(fechas[j-1]) && matriz_g1_dic[ fechas[j-1] ][variables_seleccionadas[i]+'_total'] != 0 ){
				aux.push( +(Math.round( matriz_g1_dic[ fechas[j-1] ][variables_seleccionadas[i]] / matriz_g1_dic[ fechas[j-1] ][variables_seleccionadas[i]+'_total'] + "e+2")  + "e-2") );
			} else aux.push(0);
		}
		matriz_g1.push(aux);
	}

	data.addRows( matriz_g1 );

	var altura = 200;
	{%if PDatos.opcional1 %}altura+=40;{% endif %}
	{%if PDatos.opcional2 %}altura+=40;{% endif %}
	{%if PDatos.opcional3 %}altura+=40;{% endif %}
	{%if PDatos.opcional4 %}altura+=40;{% endif %}
	{%if PDatos.opcional5 %}altura+=40;{% endif %}

	var chart = new google.visualization.ChartWrapper({
		chartType: 'LineChart',
		containerId: 'grafica_uno_div',
		options: {
			height: altura,
			legend: 'none',
			colors: ['#e2431e', '#f1ca3a', '#6f9654', '#1c91c0','#4374e0', '#5c3c0c', '#a73b3b','#0d5c8a','#ab943d','#fa973b'],
			chartArea: {
				width: '90%'
			},
			legend:{ position: 'top', maxLines: 3, 'alignment':'center'},
			vAxis : {
				viewWindowMode:'explicit',
				viewWindow:{
                	max:minmax_res[1],
                	min:0
              }
		   },
		}
	});

	var control = new google.visualization.ControlWrapper({
		controlType: 'ChartRangeFilter',
		containerId: 'control_grafica_uno_div',
		options: {
			filterColumnIndex: 0,
			ui: {
				chartOptions: {
					height: 50,
					colors: ['#e2431e', '#f1ca3a', '#6f9654', '#1c91c0','#4374e0', '#5c3c0c', '#a73b3b','#0d5c8a','#ab943d','#fa973b'],
					chartArea: {
						width: '90%'
					}
				}
			}
		}
	});

	var dashboard = new google.visualization.Dashboard(document.querySelector('#dashboard_div'));
	dashboard.bind([control], [chart]);
	dashboard.draw(data);

	function zoomLastDay () {
		var range = data.getColumnRange(0);
		control.setState({
			range: {
				start: new Date(range.max.getFullYear(), range.max.getMonth(), range.max.getDate() - 1),
				end: range.max
			}
		});
		control.draw();
	}
	function zoomLastWeek () {
		var range = data.getColumnRange(0);
		control.setState({
			range: {
				start: new Date(range.max.getFullYear(), range.max.getMonth(), range.max.getDate() - 7),
				end: range.max
			}
		});
		control.draw();
	}
	function zoomLastMonth () {
		// zoom here sets the month back 1, which can have odd effects when the last month has more days than the previous month
		// eg: if the last day is March 31, then zooming last month will give a range of March 3 - March 31, as this sets the start date to February 31, which doesn't exist
		// you can tweak this to make it function differently if you want
		var range = data.getColumnRange(0);
		control.setState({
			range: {
				start: new Date(range.max.getFullYear(), range.max.getMonth() - 1, range.max.getDate()),
				end: range.max
			}
		});
		control.draw();
	}

	var runOnce = google.visualization.events.addListener(dashboard, 'ready', function () {
		google.visualization.events.removeListener(runOnce);

		if (document.addEventListener) {
			document.querySelector('#lastDay').addEventListener('click', zoomLastDay);
			document.querySelector('#lastWeek').addEventListener('click', zoomLastWeek);
			document.querySelector('#lastMonth').addEventListener('click', zoomLastMonth);
		}
		else if (document.attachEvent) {
			document.querySelector('#lastDay').attachEvent('onclick', zoomLastDay);
			document.querySelector('#lastWeek').attachEvent('onclick', zoomLastWeek);
			document.querySelector('#lastMonth').attachEvent('onclick', zoomLastMonth);
		}
		else {
			document.querySelector('#lastDay').onclick = zoomLastDay;
			document.querySelector('#lastWeek').onclick = zoomLastWeek;
			document.querySelector('#lastMonth').onclick = zoomLastMonth;
		}
	});
},

//==============================================================================
//   Grafica DOS
//==============================================================================
grafica_dos : function( finicio,ffin) {

    var data2 = new google.visualization.DataTable(),
		matriz_g2 = [], matriz_g2_dic = {},
		{%if PDatos.opcional1 %}opcional1_seleccionadas = $op1_g2.val() || [],{% endif %}
		{%if PDatos.opcional2 %}opcional2_seleccionadas = $op2_g2.val() || [],{% endif %}
		{%if PDatos.opcional3 %}opcional3_seleccionadas = $op3_g2.val() || [],{% endif %}
		{%if PDatos.opcional4 %}opcional4_seleccionadas = $op4_g2.val() || [],{% endif %}
		{%if PDatos.opcional5 %}opcional5_seleccionadas = $op5_g2.val() || [],{% endif %}
		regionales_seleccionadas = $reg_g2.val() || [],
		ciudades_seleccionadas = $ciu_g2.val() || [],
		areas_seleccionadas = $are_g2.val() || [],
		cargos_seleccionados = $car_g2.val() || [];
		v = document.getElementById("variables_g2"),
		variable_seleccionada = v.options[v.selectedIndex].value,
		p = document.getElementById("preguntas_g2"),
		pregunta_seleccionada = p.options[p.selectedIndex].value;

	for (var i = 0; i < areas.length; i++)
		matriz_g2_dic[ areas[i] ] = { };

	var cache_F;
	for (var k = 0; k < Datos.length; k++){
		cache_P = Participantes[Datos[k][0]];
		cache_C = Cuestionario[Datos[k][3]];
		cache_F = Datos[k][2].getTime()

		if(	cache_C['variable'] == variable_seleccionada
			&& Datos[k][3] == pregunta_seleccionada
			&& finicio <=  cache_F
			&& ffin >= cache_F
			&& contenido(cache_P['ciudad'],ciudades_seleccionadas)
			&& contenido(cache_P['regional'],regionales_seleccionadas)
			&& contenido(cache_P['area'],areas_seleccionadas)
			&& contenido(cache_P['cargo'],cargos_seleccionados)
			{%if PDatos.opcional1 %}
				&& contenido(cache_P['opcional1'],opcional1_seleccionadas)
			{% endif %}
			{%if PDatos.opcional2 %}
				&& contenido(cache_P['opcional2'],opcional2_seleccionadas)
			{% endif %}
			{%if PDatos.opcional3 %}
				&& contenido(cache_P['opcional3'],opcional3_seleccionadas)
			{% endif %}
			{%if PDatos.opcional4 %}
				&& contenido(cache_P['opcional4'],opcional4_seleccionadas)
			{% endif %}
			{%if PDatos.opcional5 %}
				&& contenido(cache_P['opcional5'],opcional5_seleccionadas)
			{% endif %}
	   ){
			if ( matriz_g2_dic[ cache_P['area' ] ].hasOwnProperty(Datos[k][1]) )
				matriz_g2_dic[ cache_P['area' ] ][ Datos[k][1] ]++;
			else
				matriz_g2_dic[ cache_P['area' ] ][ Datos[k][1] ] = 1;
		}
	}

	var cols = [];
	data2.addColumn('string',area );
	for (var area in matriz_g2_dic) {
		for (var resp in matriz_g2_dic[area]) {
			if ( !contenido(resp,cols) ){
				cols.push(resp)
				data2.addColumn('number', resp );
			}
		}
	}

	var aux = [];
	var bandera = false;
	for (var area in matriz_g2_dic) {
		bandera = false;
		for (var i = 0; i < cols.length; i++){
			if ( matriz_g2_dic[area][cols[i]] ){
				bandera = true;
			}
		}
		if( bandera ){
			aux = [];
			aux.push(area);
			for (var i = 0; i < cols.length; i++)
				aux.push(matriz_g2_dic[area][cols[i]]);
			matriz_g2.push(aux);
		}
	}

	data2.addRows(matriz_g2);

	var altura = 260;
	{%if PDatos.opcional1 %}altura+=40;{% endif %}
	{%if PDatos.opcional2 %}altura+=40;{% endif %}
	{%if PDatos.opcional3 %}altura+=40;{% endif %}
	{%if PDatos.opcional4 %}altura+=40;{% endif %}
	{%if PDatos.opcional5 %}altura+=40;{% endif %}

	var options = {
		height: altura,
		legend:{ position: 'top', maxLines: 3, 'alignment':'center' },
	};
	var chart = new google.visualization.ColumnChart(document.getElementById('grafica_dos_div'));
	chart.draw(data2, options);
},

//==============================================================================
//   Grafica TRES
//==============================================================================
grafica_tres: function(){

	// cacheamos las seleccionadas
	var {%if PDatos.opcional1 %}opcional1_seleccionadas = $op1_g3.val() || [],{% endif %}
		{%if PDatos.opcional2 %}opcional2_seleccionadas = $op2_g3.val() || [],{% endif %}
		{%if PDatos.opcional3 %}opcional3_seleccionadas = $op3_g3.val() || [],{% endif %}
		{%if PDatos.opcional4 %}opcional4_seleccionadas = $op4_g3.val() || [],{% endif %}
		{%if PDatos.opcional5 %}opcional5_seleccionadas = $op5_g3.val() || [],{% endif %}
		preguntas_seleccionadas = $pre_g3.val() || [],
		regionales_seleccionadas = $reg_g3.val() || [],
		ciudades_seleccionadas = $ciu_g3.val() || [],
		areas_seleccionadas = $are_g3.val() || [],
		cargos_seleccionados = $car_g3.val() || [],
		matriz_g3 = [], matriz_g3_dic={}, cache_pre_res, respuestas = [], cache_var,
		v = document.getElementById("variables_g3"),
		variable_seleccionada = v.options[v.selectedIndex].value;

	var data3 = new google.visualization.DataTable();
	data3.addColumn('date', 'Fechas' );
	for (var pregunta in Cuestionario) {
		cache_var = Cuestionario[pregunta]['variable'];
		cache_pre_res = Cuestionario[pregunta]['respuestas'];
		for (var resp in cache_pre_res ) {
			if ( variable_seleccionada == cache_var && !contenido(resp,respuestas)){
				respuestas.push(resp);
				data3.addColumn('number', resp);
			}
		}
	}

	for (var i = 0; i < fechas.length; i++){
		matriz_g3_dic[ fechas[i] ] = { };
		matriz_g3_dic[ fechas[i] ]['total'] = 0;
		for (var j = 0; j < respuestas.length; j++){
			if ( !matriz_g3_dic[ fechas[i] ].hasOwnProperty( respuestas[j] ) )
				matriz_g3_dic[ fechas[i] ][ respuestas[j] ] = 0;
		}
		matriz_g3_dic[ fechas[i] ][ 'total' ] = 0;
	}

	for (var j = 0; j < Datos.length; j++) {
		cache_P = Participantes[Datos[j][0]];
		cache_C = Cuestionario[Datos[j][3]];

		if( cache_C['variable'] == variable_seleccionada
		&& contenido(Datos[j][3], preguntas_seleccionadas)
		&& contenido(cache_P['ciudad'], ciudades_seleccionadas)
		&& contenido(cache_P['regional'], regionales_seleccionadas)
		&& contenido(cache_P['area'], areas_seleccionadas)
		&& contenido(cache_P['cargo'], cargos_seleccionados)
		{%if PDatos.opcional1 %}
			&& contenido(cache_P['opcional1'],opcional1_seleccionadas)
		{% endif %}
		{%if PDatos.opcional2 %}
			&& contenido(cache_P['opcional2'],opcional2_seleccionadas)
		{% endif %}
		{%if PDatos.opcional3 %}
			&& contenido(cache_P['opcional3'],opcional3_seleccionadas)
		{% endif %}
		{%if PDatos.opcional4 %}
			&& contenido(cache_P['opcional4'],opcional4_seleccionadas)
		{% endif %}
		{%if PDatos.opcional5 %}
			&& contenido(cache_P['opcional5'],opcional5_seleccionadas)
		{% endif %}
		){
			matriz_g3_dic[Datos[j][2]][ Datos[j][1] ]++;
			matriz_g3_dic[Datos[j][2]][ 'total' ]++;
		}
	}

	var aux = [];
	for (var j = 0; j < fechas.length; j++){
		aux = [];
		bandera = false;
		aux.push( fechas[j] );
		for (var i = 0; i < respuestas.length; i++)
			aux.push( matriz_g3_dic[fechas[j]][respuestas[i]] );

		if ( matriz_g3_dic[fechas[j]]['total'] ) matriz_g3.push(aux);
	}

	data3.addRows( matriz_g3 );

	var altura = 200;
	{%if PDatos.opcional1 %}altura+=40;{% endif %}
	{%if PDatos.opcional2 %}altura+=40;{% endif %}
	{%if PDatos.opcional3 %}altura+=40;{% endif %}
	{%if PDatos.opcional4 %}altura+=40;{% endif %}
	{%if PDatos.opcional5 %}altura+=40;{% endif %}

	var chart3 = new google.visualization.ChartWrapper({
		chartType: 'AreaChart',
		containerId: 'grafica_tres_div',
		options: {
			isStacked: 'relative',
			height: altura,
			legend:{ position: 'top', maxLines: 3, 'alignment':'center'},
			vAxis: {
				minValue: 0,
				ticks: [0, .25, .5, .75, 1]
			},
			colors: ['#e2431e', '#f1ca3a', '#6f9654', '#1c91c0','#4374e0', '#5c3c0c', '#a73b3b','#0d5c8a','#ab943d','#fa973b'],
			chartArea: {
				width: '90%'
			}
		}
	});

	var control3 = new google.visualization.ControlWrapper({
		controlType: 'ChartRangeFilter',
		containerId: 'control_grafica_tres_div',
		options: {
			filterColumnIndex: 0,
			ui: {
				chartOptions: {
					height: 100,
					colors: ['#e2431e', '#f1ca3a', '#6f9654', '#1c91c0','#4374e0', '#5c3c0c', '#a73b3b','#0d5c8a','#ab943d','#fa973b'],
					chartArea: {
						width: '90%'
					}
				}
			}
		}
	});
	var dashboard = new google.visualization.Dashboard(document.querySelector('#dashboard_div'));
	dashboard.bind([control3], [chart3]);
	dashboard.draw(data3);
},
verifica_uno: function(){

	try {
			{%if PDatos.opcional1 %}$op1_g1.val().length{% endif %}
			{%if PDatos.opcional2 %}$op2_g1.val().length{% endif %}
			{%if PDatos.opcional3 %}$op3_g1.val().length{% endif %}
			{%if PDatos.opcional4 %}$op4_g1.val().length{% endif %}
			{%if PDatos.opcional5 %}$op5_g1.val().length{% endif %}
			$var_g1.val().length
			$pre_g1.val().length
			$reg_g1.val().length
			$ciu_g1.val().length
			$are_g1.val().length
			$car_g1.val().length
			google.load('visualization', '1', {packages:['controls'], callback: Elementos.grafica_uno});
		}
		catch(e){
			$("#grafica_uno_div").html('<span class="m" style="position:relative"><h4>Esta selección de filtros no posee datos para graficar.</h4></span>');
			$("#control_grafica_uno_div").html('');
		}
},

verifica_dos: function(){

	try {
			var altura = 260;
			{%if PDatos.opcional1 %}$op1_g2.val().length;altura+=40;{% endif %}
			{%if PDatos.opcional2 %}$op2_g2.val().length;altura+=40;{% endif %}
			{%if PDatos.opcional3 %}$op3_g2.val().length;altura+=40;{% endif %}
			{%if PDatos.opcional4 %}$op4_g2.val().length;altura+=40;{% endif %}
			{%if PDatos.opcional5 %}$op5_g2.val().length;altura+=40;{% endif %}
			$var_g2.val().length
			$pre_g2.val().length
			$reg_g2.val().length
			$ciu_g2.val().length
			$are_g2.val().length
			$car_g2.val().length

			$("#control_grafica_dos_div").css("margin-top","0px");
			var fecha = $('#control_grafica_dos_div').dateRangeSlider('values');
			google.setOnLoadCallback( this.grafica_dos(fecha.min.getTime(),fecha.max.getTime()) );

		 }
		catch(e){
			$("#grafica_dos_div").html('<span class="m20 p20" style="position:absolute"><h4>Esta selección de filtros no posee datos para graficar.</h4></span>');
			$("#control_grafica_dos_div").css("margin-top",altura+"px");
		}
},

verifica_tres: function(){

	try {
			{%if PDatos.opcional1 %}$op1_g3.val().length{% endif %}
			{%if PDatos.opcional2 %}$op2_g3.val().length{% endif %}
			{%if PDatos.opcional3 %}$op3_g3.val().length{% endif %}
			{%if PDatos.opcional4 %}$op4_g3.val().length{% endif %}
			{%if PDatos.opcional5 %}$op5_g3.val().length{% endif %}
			$pre_g3.val().length
			$reg_g3.val().length
			$ciu_g3.val().length
			$are_g3.val().length
			$car_g3.val().length
			document.getElementById("control_grafica_tres_div").style.opacity = 1;
			google.load('visualization', '1', {packages:['controls'], callback: this.grafica_tres});

		 }
		catch(e){
			$("#grafica_tres_div").html('<span class="m" style="position:relative"><h4>Esta selección de filtros no posee datos para graficar.</h4></span>');
			document.getElementById("control_grafica_tres_div").style.opacity = 0;
		}
},
}

//==============================================================================
//   Control de mision
//==============================================================================
$(document).ready(function() {
	Elementos.inicio();
	{% if Datos %}
	minmax_res = minmax_resf();

	Elementos.verifica_uno();
	$('.panel-body .panel').fadeTo(100,100);
	$('.filtros_uno').change(function(){ Elementos.verifica_uno(); });

	tiemposInicio_0 = tiemposIniciales(fechas);

	$("#control_grafica_dos_div").dateRangeSlider({
	   bounds:{
		   min: new Date({{PDatos.finicio.year}},{{PDatos.finicio.month}}-1,{{PDatos.finicio.day}}),
		   max: new Date({{PDatos.ffin.year}},{{PDatos.ffin.month}}-1,{{PDatos.ffin.day}})
	   },
	   defaultValues:{
		   min: tiemposInicio_0[0],
		   max: tiemposInicio_0[1]
	   }
	});

	$('#control_grafica_dos_div').on('valuesChanged',function(e,data){ Elementos.verifica_dos(); })
	$('.filtros_dos').change(function(){ Elementos.verifica_dos(); });

	Elementos.verifica_tres();
	$('.filtros_tres').change(function(){ Elementos.verifica_tres(); });

	$(window).resize(function() {
		Elementos.verifica_uno();
		Elementos.verifica_tres();
		Elementos.verifica_dos();
	});

	{% endif %}
});
</script>
{%endblock%}
