{% extends "dash2.html" %}{%load staticfiles %}
{% block title %} A. Participación{% endblock %}
{% block head2 %}
<link rel="stylesheet" href=" {% static 'plugins/jQRangeSlider-master/css/iThing.css' %}  " type="text/css" />
<style media="screen">.multiselect{margin-left: -15px !important;}</style>
{% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="#"><i><span>/ Análisis</span></i></a></li>
<li><a href="#"><i><span>/ Focalizado</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row m-t-xs mt20 mr5">
	<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<!-- .col-md-3 -->
			<div class="panel panel-info tile">
				<!-- Start .panel -->
				<div class="panel-heading">
					<h4 class="panel-title">Finaliza en:</h4>
				</div>
				<div class="panel-body pt0">
					<div class="progressbar-stats-1">
						<div class="stats">
							<div class="stats-number" data-from="0" data-to="50">
								{{ Proyecto.proyectosdatos.ffin | timeuntil }}
							</div>
						</div>
						<div class="progress progress-bar-sm">
							<div class="progress-bar progress-bar-success" style="width: {{Proyecto.total  |floatformat:"0" }}%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{Proyecto.total  |floatformat:"0" }}" role="progressbar"></div>
						</div>
						<div class="comparison mt10">
							<p class="mb0">
								<i class="fa fa-arrow-circle-o-up s20 mr5 pull-left"></i> Llevas un {{Proyecto.total  |floatformat:"-2" }}% de avance.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-default tile btrr0 bbrr0" data-mh="sales-locations">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Ficha técnica </h4>
				</div>
				<div class="panel-body pt0">
					<ul class="list-unstyled mb0">
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Número de variables:</span> <div style="display:inline" class="color-red">{{ Proyecto.max_variables }} </div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Número de preguntas:</span> <div style="display:inline" class="color-red">{{ Proyecto.tot_preguntas }} </div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Número de participantes:</span> <div style="display:inline" class="color-red">{{ Proyecto.tot_participantes }} </div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Respuestas posibles:</span> <div style="display:inline" class="color-red">{{ Proyecto.tot_aresponder }} </div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Respuestas completadas:</span> <div style="display:inline" class="color-red">{{ Proyecto.tot_respuestas }} </div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Estado:</span> <div style="display:inline" class="color-red">{% if Proyecto.estado %}Activo{% else %}Inactivo{% endif %} </div>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

	<div class="col-lg-9">
		<div class="panel panel-default toggle">
			<div class="panel-heading">
				<h4 class="panel-title">Gráfica de participación</h4>
			</div>
			<div class="panel-body">
				<div class="col-lg-8">

					<div class="text-center mt20">
						<div id="customer-exp" class="custom-progressbar blue" style="width:300px;height:300px;">
						<div class="pie-charts green-pie">
							<div class="pie easyPieChart" data-percent="{{ Proyecto.total | floatformat:"-2" }}" style="width: 300px; height: 300px; line-height: 300px;">
							</div>
						</div>
							<div id="descripcion" class="description m" style="font-size:50px;margin-top:-30px"> 100%</div>

						</div>
					</div>
					<br>
					<div id="slider"></div>
				</div>
				<div class="col-lg-4 m-t-xs">
					<div class="panel panel-default toggle">
						<!-- Inicio .panel -->
						<div class="panel-heading">
							<h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Filtros </h4>
						</div>
						<div class="panel-body">
							<ul class="list-unstyled mb0">
								<li class="mb5 pb5 bbdashed">
									<span class="strong pr15">Regionales</span>
									<select id="regionales" class="filtro" multiple></select>
								</li>
								<li class="mb5 pb5 bbdashed">
									<span class="strong pr25">Ciudades</span>
									<select id="ciudades" class="filtro" multiple></select>
								</li>
								<li class="mb5 pb5 bbdashed">
									<span class="strong" style="padding-right:47px">Áreas</span>
									<select id="areas" class="filtro" multiple></select>
								</li>
								<li class="mb5 pb5 bbdashed">
									<span class="strong" style="padding-right:39px">Cargos</span>
									<select id="cargos" class="filtro" multiple></select>
								</li>
								<li class="mb5 pb5 bbdashed">
									<span class="strong" style="padding-right:37px">Género</span>
									<select id="genero" class="filtro" multiple></select>
								</li>
								<li class="mb5 pb5 bbdashed">
									<span class="strong pr25">Nivel Ac.</span>
									<select id="niv_academico" class="filtro" multiple></select>
								</li>
								<li class="mb5 pb5 bbdashed">
									<span class="strong pr25">Profesión</span>
									<select id="profesion" class="filtro" multiple></select>
								</li>
								{%if Datos.0.proyecto.proyectosdatos.opcional1 %}
								<li class="mb5 pb5 bbdashed">
									<span class="strong pr15">{{ Datos.0.proyecto.proyectosdatos.opcional1 | escape }}</span>
									<select id="opcional1" class="filtro" multiple></select>
								</li>
								{% endif %}
								{%if Datos.0.proyecto.proyectosdatos.opcional2 %}
								<li class="mb5 pb5 bbdashed">
									<span class="strong pr15">{{ Datos.0.proyecto.proyectosdatos.opcional2 | escape }}</span>
									<select id="opcional2" class="filtro" multiple></select>
								</li>
								{% endif %}
								{%if Datos.0.proyecto.proyectosdatos.opcional3 %}
								<li class="mb5 pb5 bbdashed">
									<span class="strong pr15">{{ Datos.0.proyecto.proyectosdatos.opcional3 | escape }}</span>
									<select id="opcional3" class="filtro" multiple></select>
								</li>
								{% endif %}
								{%if Datos.0.proyecto.proyectosdatos.opcional4 %}
								<li class="mb5 pb5 bbdashed">
									<span class="strong pr15">{{ Datos.0.proyecto.proyectosdatos.opcional4 | escape }}</span>
									<select id="opcional4" class="filtro" multiple></select>
								</li>
								{% endif %}
								{%if Datos.0.proyecto.proyectosdatos.opcional5 %}
								<li class="mb5 pb5 bbdashed">
									<span class="strong pr15">{{ Datos.0.proyecto.proyectosdatos.opcional5 | escape }}</span>
									<select id="opcional5" class="filtro" multiple></select>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<!-- col-lg-12 start here -->
		<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
			<!-- Start .panel -->
			<div class="panel-heading white-bg">
				<h4 class="panel-title"><i class="fa fa-building fa-2x"></i>Participación por Área / Regional</h4>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th class="per35">Area / Regional</th>
							<th class="per15"># Personas Encuestadas</th>
							<th class="per15">Avance Actual</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Bogotá</td>
							<td>100</td>
							<td>
							<div class="progress animated-bar">
								<div class="progress-bar progress-bar-success" role="progressbar" data-transitiongoal="40"></div>
							</div></td>
						</tr>
						<tr>
							<td>Medellín</td>
							<td>50</td>
							<td>
							<div class="progress animated-bar">
								<div class="progress-bar progress-bar-danger" role="progressbar" data-transitiongoal="80"></div>
							</div></td>
						</tr>
						<tr>
							<td>Cali</td>
							<td>60</td>
							<td>
							<div class="progress animated-bar">
								<div class="progress-bar progress-bar-warning" role="progressbar" data-transitiongoal="67"></div>
							</div></td>
						</tr>
						<tr>
							<td>Barranquilla</td>
							<td>30</td>
							<td>
							<div class="progress animated-bar">
								<div class="progress-bar progress-bar-info" role="progressbar" data-transitiongoal="7"></div>
							</div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{%block scripts%}
<script type="text/javascript" src="{% static 'js/plugins/piechart/jquery.easy-pie-chart.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderMouseTouch.min.js'%} "></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderDraggable.min.js'%} "></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderBar.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderHandle.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQDateRangeSliderHandle.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderLabel.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSlider.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQDateRangeSlider.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/plugins/multiselect/bootstrap-multiselect.min.js' %}"></script>
<script type="text/javascript">
var Datos = [{%for i in Datos%}
['{{ i.colaborador.colaboradoresdatos.regional | lower | escape}}' ,
'{{ i.colaborador.colaboradoresdatos.ciudad | lower | escape}}' ,
'{{ i.colaborador.colaboradoresdatos.area | lower | escape }}' ,
'{{ i.colaborador.colaboradoresdatos.cargo | lower | escape }}' ,
'{{ i.colaborador.colaboradoresdatos.genero | lower | escape }}' ,
'{{ i.colaborador.colaboradoresdatos.niv_academico | lower | escape }}' ,
'{{ i.colaborador.colaboradoresdatos.profesion | lower | escape }}' ,
 {%if i.pregunta %}true{% else %}false{%endif%},
 {%if i.fecharespuesta %}new Date({{ i.fecharespuesta.year }},{{ i.fecharespuesta.month | add:-1 }},{{ i.fecharespuesta.day }}){% else %}0{% endif %},
'{{ i.colaborador.colaboradoresdatos.opcional1 | escape }}',
'{{ i.colaborador.colaboradoresdatos.opcional2 | escape }}',
'{{ i.colaborador.colaboradoresdatos.opcional3 | escape }}',
'{{ i.colaborador.colaboradoresdatos.opcional4 | escape }}',
'{{ i.colaborador.colaboradoresdatos.opcional5 | escape }}',
],{%endfor%}];

var contenido = function(a,x){
	for (var i = 0; i < x.length; i++) if (a == x[i]) return true;
	return false;
}
var contenido_date = function(a,x){
	for (var i = 0; i < x.length; i++) if (a - x[i] == 0) return true;
	return false;
}
var limpiar_filas_nulas = function(matriz_datos){
	var long_fila = matriz_datos[0].length;
	for( var i = 1; i < matriz_datos.length; i++ ) {
		for (var j = 1; j < long_fila; j++)
			if (matriz_datos[i][j] == 0 )
				matriz_datos[i][j] = matriz_datos[i-1][j];
	}
	return matriz_datos;
}

//==============================================================================
//   variables GLOBALES
//==============================================================================

var regionales=[],ciudades=[],areas=[],cargos=[],genero=[],niv_academico=[],profesion=[]
	$reg = $('#regionales'), $ciu = $('#ciudades'),
	$are = $('#areas'), $car = $('#cargos'),
	$gen = $('#genero'), $niv = $("#niv_academico"),
	$pro = $('#profesion');

	if(Datos) {var fec_minima = Datos[0][8],fec_maxima=Datos[0][8];}

{%if Datos.0.proyecto.proyectosdatos.opcional1 %}var $op1 = $('#opcional1'),opcional1=[];{% endif %}
{%if Datos.0.proyecto.proyectosdatos.opcional2 %}var $op2 = $('#opcional2'),opcional2=[];{% endif %}
{%if Datos.0.proyecto.proyectosdatos.opcional3 %}var $op3 = $('#opcional3'),opcional3=[];{% endif %}
{%if Datos.0.proyecto.proyectosdatos.opcional4 %}var $op4 = $('#opcional4'),opcional4=[];{% endif %}
{%if Datos.0.proyecto.proyectosdatos.opcional5 %}var $op5 = $('#opcional5'),opcional5=[];{% endif %}

var Elementos = {
//==============================================================================
//   Selects
//==============================================================================
pie: function(){
	$(".pie").easyPieChart({
        barColor: '#29b6d8',
        borderColor: '#29b6d8',
        trackColor: '#a9e2c6',
        scaleColor: false,
        lineCap: 'butt',
        lineWidth: 40,
        size: 300,
        animate: 1500
    });
},

inicio : function(){

	for (var i = 0; i < Datos.length; i++) {

		if( Datos[i][8] - fec_minima < 0 ) fec_minima = Datos[i][8];
		if( Datos[i][8] - fec_maxima > 0 ) fec_maxima = Datos[i][8];

		if (!contenido(Datos[i][3],regionales)){
			regionales.push(Datos[i][3]);
			$reg.append($('<option>', {
				value: Datos[i][3],
				text : Datos[i][3]
			}));
		}
		if (!contenido(Datos[i][4],ciudades)){
			ciudades.push(Datos[i][4]);
			$ciu.append($('<option>', {
				value: Datos[i][4],
				text : Datos[i][4]
			}));
		}
		if (!contenido(Datos[i][5],areas)){
			areas.push(Datos[i][5]);
			$are.append($('<option>', {
				value: Datos[i][5],
				text : Datos[i][5]
			}));
		}
		if (!contenido(Datos[i][6],cargos)){
			cargos.push(Datos[i][6]);
			$car.append($('<option>', {
				value: Datos[i][6],
				text : Datos[i][6]
			}));
		}
		if (!contenido(Datos[i][6],genero)){
			genero.push(Datos[i][6]);
			$gen.append($('<option>', {
				value: Datos[i][6],
				text : Datos[i][6]
			}));
		}
		if (!contenido(Datos[i][6],niv_academico)){
			niv_academico.push(Datos[i][6]);
			$niv.append($('<option>', {
				value: Datos[i][6],
				text : Datos[i][6]
			}));
		}
		if (!contenido(Datos[i][6],profesion)){
			profesion.push(Datos[i][6]);
			$pro.append($('<option>', {
				value: Datos[i][6],
				text : Datos[i][6]
			}));
		}

		{%if Datos.0.proyecto.proyectosdatos.opcional1 %}
		if (!contenido(Datos[i][9],opcional1)){
			opcional1.push(Datos[i][9]);
			$op1.append($('<option>', {
				value: Datos[i][9],
				text : Datos[i][9]
			}));
		}
		{% endif %}
		{%if Datos.0.proyecto.proyectosdatos.opcional2 %}
		if (!contenido(Datos[i][10],opcional2)){
			opcional2.push(Datos[i][10]);
			$op2.append($('<option>', {
				value: Datos[i][10],
				text : Datos[i][10]
			}));
		}
		{% endif %}
		{%if Datos.0.proyecto.proyectosdatos.opcional3 %}
		if (!contenido(Datos[i][11],opcional3)){
			opcional3.push(Datos[i][11]);
			$op3.append($('<option>', {
				value: Datos[i][11],
				text : Datos[i][11]
			}));
		}
		{% endif %}
		{%if Datos.0.proyecto.proyectosdatos.opcional4 %}
		if (!contenido(Datos[i][12],opcional4)){
			opcional4.push(Datos[i][12]);
			$op4.append($('<option>', {
				value: Datos[i][12],
				text : Datos[i][12]
			}));
		}
		{% endif %}
		{%if Datos.0.proyecto.proyectosdatos.opcional5 %}
		if (!contenido(Datos[i][13],opcional5)){
			opcional5.push(Datos[i][13]);
			$op5.append($('<option>', {
				value: Datos[i][13],
				text : Datos[i][13]
			}));
		}
		{% endif %}

	}

	//  UPDATE Selects
	$('.filtro').multiselect({numberDisplayed: 1,includeSelectAllOption: true,buttonWidth: '100px',dropRight: true,disableIfEmpty: true	});
	$('.filtro').multiselect('selectAll', false);
	$('.filtro').multiselect('updateButtonText');
},

circulo: function(){

},

}

//==============================================================================
//   Control de mision
//==============================================================================
$(document).ready(function() {

	Elementos.inicio();
	Elementos.pie();

	$('.filtros').change(function(){ Elementos.circulo() });

	$("#slider").dateRangeSlider({
		bounds:{
		  min: new Date({{ Datos.0.proyecto.proyectosdatos.finicio.year }},{{ Datos.0.proyecto.proyectosdatos.finicio.month | add:-1 }},{{ Datos.0.proyecto.proyectosdatos.finicio.day }}),
		  max: new Date({{ Datos.0.proyecto.proyectosdatos.ffin.year }},{{ Datos.0.proyecto.proyectosdatos.ffin.month | add:-1 }},{{ Datos.0.proyecto.proyectosdatos.ffin.day }})
		},
		defaultValues:{
		  min: fec_minima,
		  max: fec_maxima,
		}
	});

	$('#slider').on('valuesChanged',function(e,data){
		Elementos.circulo();
	});
	$("#pro").dataTable({"columns" : [{className : "center"}, {className : "center"}, {className : "center"}, {className : "center"}],language : {sProcessing : "Procesando...",sLengthMenu : "Mostrar _MENU_ proyectos",sZeroRecords : "No se encontraron resultados",sEmptyTable : "No posees ningún proyecto creado o asociado.",sInfo : "Proyectos del _START_ al _END_ de un total de _TOTAL_",sInfoEmpty : "Proyectos del 0 al 0 de un total de 0",sInfoFiltered : "(filtrado de un total de _MAX_ proyectos)",sInfoPostFix : "",sSearch : "Buscar",sUrl : "",sInfoThousands : ",",sLoadingRecords : "Cargando...",oPaginate : {sFirst : "Primero",sLast : "Último",sNext : "Siguiente",sPrevious : "Anterior"},oAria : {sSortAscending : ": Activar para ordenar la columna de manera ascendente",sSortDescending : ": Activar para ordenar la columna de manera descendente"}}});
});
</script>
{%endblock%}
