{% extends "dash2.html" %}{%load staticfiles %}
{% block title %} A. Participación{% endblock %}
{% block head2 %}
<link rel="stylesheet" href=" {% static 'plugins/jQRangeSlider-master/css/iThing.css' %}  " type="text/css" />
<style media="screen">li{list-style-type:none}.multiselect{margin-left: -15px !important;}span.strong{margin-left: -13px}#cargando{opacity: 0;}</style>
{% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="#"><i><span>/ Análisis</span></i></a></li>
<li><a href="#"><i><span>/ Participación</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row m-t-xs mt20 mr5 ml5">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
		<div class="panel panel-info tile">
			<div class="panel-heading">
				<h4 class="panel-title" style="font-size:30px">Finaliza en:</h4>
			</div>
			<div class="panel-body pt0">
				<div class="progressbar-stats-1">
					<div class="stats">
						<div class="stats-number" data-from="0" data-to="50">
							{{ Proyecto.proyectosdatos.ffin | timeuntil }}
						</div>
					</div>
					<div class="progress progress-bar-sm">
						<div class="progress-bar progress-bar-success" style="width: {{Proyecto.total | floatformat:"0" }}%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{Proyecto.total  |floatformat:"0" }}" role="progressbar"></div>
					</div>
					<div class="comparison mt10">
						<p class="mb0">
							<i class="fa fa-arrow-circle-o-up s20 mr5 pull-left"></i> Llevas un {{Proyecto.total  |floatformat:"-2" }}% de avance.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default tile btrr0 bbrr0" data-mh="sales-locations">
			<div class="panel-heading">
				<h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Ficha técnica </h4>
			</div>
			<div class="panel-body pt0">
				<div class="container-fluid">
					<ul class="list-unstyled mb0">
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Número de variables:</span> <div style="display:inline" class="color-red"> {{ Proyecto.max_variables }} </div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Número de preguntas:</span> <div style="display:inline" class="color-red"> {{ Proyecto.tot_preguntas }} </div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Número de participantes:</span> <div style="display:inline" class="color-red"> {{ Proyecto.tot_participantes }} </div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Respuestas posibles:</span> <div style="display:inline" class="color-red"> {{ Proyecto.tot_aresponder }} </div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Respuestas completadas:</span> <div style="display:inline" class="color-red"> {{ Proyecto.tot_respuestas }} </div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Finalizados:</span> <div style="display:inline" class="color-red"> {{ Finalizados }} Colaboradores.</div>
						</li>
						<li class="mb5 pb5 bbdashed">
							<span class="strong">Estado:</span> <div style="display:inline" class="color-red">{% if Proyecto.activo %}Activo{% else %}Inactivo{% endif %} </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
		<div class="panel panel-default toggle">
			<div class="panel-heading">
				<h4 class="panel-title">Gráfica de participación</h4>
			</div>
			<div  class="panel-body">
				<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
					{%if Datos.opcional1 %}<br>{% endif %}
					{%if Datos.opcional2 %}<br>{% endif %}
					{%if Datos.opcional3 %}<br>{% endif %}
					<div class="text-center mt20 ml50" >
						<div id="customer-exp" class="custom-progressbar blue" style="width:300px;height:300px;color:#1c9aa7">
						<div class="pie-charts green-pie">
							<div id="descripcion_pie" class="pie easyPieChart" data-percent="0" style="width: 300px; height: 300px; line-height: 300px;">
							</div>
						</div>
							<div id="descripcion" class="description m" style="font-size:50px;margin-top:-10%"> 100%</div>

						</div>
					</div>
					{%if Datos.opcional4 %}<br>{% endif %}
					{%if Datos.opcional5 %}<br>{% endif %}
					<div class="m" id="slider"></div><br><br>
				</div>
				<div id="cargando" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
					<div class="panel panel-default toggle">
						<!-- Inicio .panel -->
						<div class="panel-heading">
							<h4 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i> Filtros </h4>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="form-horizontal">
									<div class="form-group">
										<label class="col-xs-5 control-label">Regionales</label>
										<div class="col-xs-2">
											<select id="regionales" class="filtro form-control" multiple></select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-5 control-label">Ciudades</label>
										<div class="col-xs-2">
											<select id="ciudades" class="filtro form-control" multiple></select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-5 control-label">Áreas</label>
										<div class="col-xs-2">
											<select id="areas" class="filtro form-control" multiple></select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-5 control-label">Cargos</label>
										<div class="col-xs-2">
											<select id="cargos" class="filtro form-control" multiple></select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-5 control-label">Género</label>
										<div class="col-xs-2">
											<select id="genero" class="filtro form-control" multiple></select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-5 control-label">Nivel Ac.</label>
										<div class="col-xs-2">
											<select id="niv_academico" class="filtro form-control" multiple></select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-xs-5 control-label">Profesión</label>
										<div class="col-xs-2">
											<select id="profesion" class="filtro form-control" multiple></select>
										</div>
									</div>
									{%if PDatos.opcional1 %}
									<div class="form-group">
										<label class="col-xs-5 control-label">{{ PDatos.opcional1 | escape }}</label>
										<div class="col-xs-2">
											<select id="opcional1" class="filtro form-control" multiple></select>
										</div>
									</div>
									{% endif %}
									{%if PDatos.opcional2 %}
									<div class="form-group">
										<label class="col-xs-5 control-label">{{ PDatos.opcional2 | escape }}</label>
										<div class="col-xs-2">
											<select id="opcional2" class="filtro form-control" multiple></select>
										</div>
									</div>
									{% endif %}
									{%if PDatos.opcional3 %}
									<div class="form-group">
										<label class="col-xs-5 control-label">{{ PDatos.opcional3 | escape }}</label>
										<div class="col-xs-2">
											<select id="opcional3" class="filtro form-control" multiple></select>
										</div>
									</div>
									{% endif %}
									{%if PDatos.opcional4 %}
									<div class="form-group">
										<label class="col-xs-5 control-label">{{ PDatos.opcional4 | escape }}</label>
										<div class="col-xs-2">
											<select id="opcional4" class="filtro form-control" multiple></select>
										</div>
									</div>
									{% endif %}
									{%if PDatos.opcional5 %}
									<div class="form-group">
										<label class="col-xs-5 control-label">{{ PDatos.opcional5 | escape }}</label>
										<div class="col-xs-2">
											<select id="opcional5" class="filtro form-control" multiple></select>
										</div>
									</div>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row mr5 ml5">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<!-- col-lg-12 start here -->
		<div class="panel panel-default plain toggle panelMove panelClose panelRefresh">
			<!-- Start .panel -->
			<div class="panel-heading white-bg">
				<h4 class="panel-title"><i class="fa fa-building fa-2x"></i>Participación por Área / Regional</h4>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th class="per35">Area / Regional</th>
							<th class="per15">Respuestas posibles</th>
							<th class="per15">Respuestas completadas</th>
							<th class="per15">Avance Actual</th>
						</tr>
					</thead>
					<tbody id="tabla"></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{%block scripts%}
<script type="text/javascript" src="{% static 'js/plugins/piechart/jquery.easy-pie-chart.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderMouseTouch.min.js'%} "></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderDraggable.min.js'%} "></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderBar.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderHandle.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQDateRangeSliderHandle.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSliderLabel.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQRangeSlider.min.js'%}"></script>
<script type="text/javascript" src="{% static 'plugins/jQRangeSlider-master/jQDateRangeSlider.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/plugins/multiselect/bootstrap-multiselect.min.js' %}"></script>
<script type="text/javascript">
var Datos = {{ Datos | safe }}

var contenido = function(a,x){
	for (var i = 0; i < x.length; i++) if (a == x[i]) return true;
	return false;
}
var contenido_date = function(a,x){
	for (var i = 0; i < x.length; i++) if (a - x[i] == 0) return true;
	return false;
}
var limpiar_filas_nulas = function(matriz_datos){
	var long_fila = matriz_datos[0].length;
	for( var i = 1; i < matriz_datos.length; i++ ) {
		for (var j = 1; j < long_fila; j++)
			if (matriz_datos[i][j] == 0 )
				matriz_datos[i][j] = matriz_datos[i-1][j];
	}
	return matriz_datos;
}

//==============================================================================
//   variables GLOBALES
//==============================================================================

var regionales=[],ciudades=[],areas=[],cargos=[],genero=[],niv_academico=[],profesion=[],fechas=[],
	$reg = $('#regionales'), $ciu = $('#ciudades'),
	$are = $('#areas'), $car = $('#cargos'),
	$gen = $('#genero'), $niv = $("#niv_academico"),
	$pro = $('#profesion'),$descripcion=$("#descripcion"),
	$des_pie=$("#descripcion_pie"),$tabla = $("#tabla"),
	total_areas_personas={},total_regionales_personas={},areas_personas={},regionales_personas={};

	if(Datos) {var fec_minima = new Date(2050,1,1),fec_maxima= new Date(2011,1,1);}

{%if PDatos.opcional1 %}var $op1 = $('#opcional1'),opcional1=[];{% endif %}
{%if PDatos.opcional2 %}var $op2 = $('#opcional2'),opcional2=[];{% endif %}
{%if PDatos.opcional3 %}var $op3 = $('#opcional3'),opcional3=[];{% endif %}
{%if PDatos.opcional4 %}var $op4 = $('#opcional4'),opcional4=[];{% endif %}
{%if PDatos.opcional5 %}var $op5 = $('#opcional5'),opcional5=[];{% endif %}

var Elementos = {
//==============================================================================
//   Selects
//==============================================================================
pie: function(){
	$(".pie").easyPieChart({
        barColor: '#29b6d8',
        borderColor: '#29b6d8',
        trackColor: '#b4cbd1',
        scaleColor: false,
        lineCap: 'butt',
        lineWidth: 40,
        size: 300,
        animate: 1500
    });
},

inicio : function(){
		var aux = [];
	for (var i = 0; i < Datos.length; i++) {

		if( Datos[i][8] - fec_minima < 0 ) fec_minima = Datos[i][8];
		if( Datos[i][8] - fec_maxima > 0 ) fec_maxima = Datos[i][8];

		if (!contenido(Datos[i][0],regionales)){
			regionales.push(Datos[i][0]);
			$reg.append($('<option>', {
				value: Datos[i][0],
				text : Datos[i][0]
			}));
		}
		if (!contenido(Datos[i][1],ciudades)){
			ciudades.push(Datos[i][1]);
			$ciu.append($('<option>', {
				value: Datos[i][1],
				text : Datos[i][1]
			}));
		}
		if (!contenido(Datos[i][2],areas)){
			areas.push(Datos[i][2]);
			$are.append($('<option>', {
				value: Datos[i][2],
				text : Datos[i][2]
			}));
		}

		if (!contenido(Datos[i][3],cargos)){
			cargos.push(Datos[i][3]);
			$car.append($('<option>', {
				value: Datos[i][3],
				text : Datos[i][3]
			}));
		}
		if (!contenido(Datos[i][4],genero)){
			genero.push(Datos[i][4]);
			$gen.append($('<option>', {
				value: Datos[i][4],
				text : Datos[i][4]
			}));
		}
		if (!contenido(Datos[i][5],niv_academico)){
			niv_academico.push(Datos[i][5]);
			$niv.append($('<option>', {
				value: Datos[i][5],
				text : Datos[i][5]
			}));
		}
		if (!contenido(Datos[i][6],profesion)){
			profesion.push(Datos[i][6]);
			$pro.append($('<option>', {
				value: Datos[i][6],
				text : Datos[i][6]
			}));
		}

		{%if PDatos.opcional1 %}
		if (!contenido(Datos[i][9],opcional1)){
			opcional1.push(Datos[i][9]);
			$op1.append($('<option>', {
				value: Datos[i][9],
				text : Datos[i][9]
			}));
		}
		{% endif %}
		{%if PDatos.opcional2 %}
		if (!contenido(Datos[i][10],opcional2)){
			opcional2.push(Datos[i][10]);
			$op2.append($('<option>', {
				value: Datos[i][10],
				text : Datos[i][10]
			}));
		}
		{% endif %}
		{%if PDatos.opcional3 %}
		if (!contenido(Datos[i][11],opcional3)){
			opcional3.push(Datos[i][11]);
			$op3.append($('<option>', {
				value: Datos[i][11],
				text : Datos[i][11]
			}));
		}
		{% endif %}
		{%if PDatos.opcional4 %}
		if (!contenido(Datos[i][12],opcional4)){
			opcional4.push(Datos[i][12]);
			$op4.append($('<option>', {
				value: Datos[i][12],
				text : Datos[i][12]
			}));
		}
		{% endif %}
		{%if PDatos.opcional5 %}
		if (!contenido(Datos[i][13],opcional5)){
			opcional5.push(Datos[i][13]);
			$op5.append($('<option>', {
				value: Datos[i][13],
				text : Datos[i][13]
			}));
		}
		{% endif %}
	}

	//  UPDATE Selects
	$('.filtro').multiselect({numberDisplayed: 1,includeSelectAllOption: true,buttonWidth: '100px',dropRight: true,disableIfEmpty: true	});
	$('.filtro').multiselect('selectAll', false);
	$('.filtro').multiselect('updateButtonText');

	// inicializamos los vectores
	for (var i = 0; i < regionales.length; i++) {
		total_regionales_personas[regionales[i]] = 0;
		regionales_personas[regionales[i]] = 0;
	}
	for (var i = 0; i <  areas.length; i++) {
		total_areas_personas[areas[i]] = 0;
		areas_personas[areas[i]] = 0;
	}

	for (var i = 0; i < Datos.length; i++) {
		if(total_regionales_personas[ Datos[i][0]] != undefined ) total_regionales_personas[ Datos[i][0]]++;
		if(total_regionales_personas[ Datos[i][0]] != undefined && Datos[i][7]) regionales_personas[ Datos[i][0]]++;
		if(total_areas_personas[ Datos[i][2]] != undefined ) total_areas_personas[ Datos[i][2]]++;
		if(total_areas_personas[ Datos[i][2]] != undefined && Datos[i][7]) areas_personas[ Datos[i][2]]++;
	}

	var cadena_append ='';
	for (var variable in regionales_personas) {
		if (regionales_personas.hasOwnProperty(variable) && total_regionales_personas[variable]) {
			cadena_append += '<tr><td>Regional '+variable+'</td><td>'+total_regionales_personas[variable]+'</td><td>'+regionales_personas[variable]+'</td><td><div class="pull-middle progress active" style="width: 250px;margin: 0 auto;"><div title="'+100*regionales_personas[variable]/total_regionales_personas[variable]+'%" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="'+100*regionales_personas[variable]/total_regionales_personas[variable]+'" aria-valuemax="100" aria-valuemin="0" style="width:'+100*regionales_personas[variable]/total_regionales_personas[variable]+'%"></div></div></td></tr>';
		}
	}
	for (var variable in areas_personas) {
		if (areas_personas.hasOwnProperty(variable) && total_areas_personas[variable]) {
			cadena_append += '<tr><td>Área '+variable+'</td><td>'+total_areas_personas[variable]+'</td><td>'+areas_personas[variable]+'</td><td><div class="pull-middle progress active" style="width: 250px;margin: 0 auto;"><div title="'+100*areas_personas[variable]/total_areas_personas[variable]+'%" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="'+100*areas_personas[variable]/total_areas_personas[variable]+'" aria-valuemax="100" aria-valuemin="0" style="width:'+100*areas_personas[variable]/total_areas_personas[variable]+'%"></div></div></td></tr>';
		}
	}
	$tabla.append(cadena_append);
},

circulo: function(min,max){

	// cacheamos las seleccionadas
	var {%if PDatos.opcional1 %}opcional1_seleccionadas = $op1.val() || [],{% endif %}
		{%if PDatos.opcional2 %}opcional2_seleccionadas = $op2.val() || [],{% endif %}
		{%if PDatos.opcional3 %}opcional3_seleccionadas = $op3.val() || [],{% endif %}
		{%if PDatos.opcional4 %}opcional4_seleccionadas = $op4.val() || [],{% endif %}
		{%if PDatos.opcional5 %}opcional5_seleccionadas = $op5.val() || [],{% endif %}
		regionales_seleccionadas = $reg.val() || [],
		ciudades_seleccionadas = $ciu.val() || [],
		areas_seleccionadas = $are.val() || [],
		cargos_seleccionados = $car.val() || [],
		generos_seleccionados = $gen.val() || [],
		niv_academico_seleccionados = $niv.val() || [],
		profesiones_seleccionadas = $pro.val() || [],
		participante = 0, todos = 0;

	for (var j = 0; j < Datos.length; j++) {
		if(contenido(Datos[j][0],regionales_seleccionadas)
		&& contenido(Datos[j][1],ciudades_seleccionadas)
		&& contenido(Datos[j][2],areas_seleccionadas)
		&& contenido(Datos[j][3],cargos_seleccionados)
		&& contenido(Datos[j][4],generos_seleccionados)
		&& contenido(Datos[j][5],niv_academico_seleccionados)
		&& contenido(Datos[j][6],profesiones_seleccionadas)
		{%if PDatos.opcional1 %}
			&& contenido(Datos[j][9],opcional1_seleccionadas)
		{% endif %}
		{%if PDatos.opcional2 %}
			&& contenido(Datos[j][10],opcional2_seleccionadas)
		{% endif %}
		{%if PDatos.opcional3 %}
			&& contenido(Datos[j][11],opcional3_seleccionadas)
		{% endif %}
		{%if PDatos.opcional4 %}
			&& contenido(Datos[j][12],opcional4_seleccionadas)
		{% endif %}
		{%if PDatos.opcional5 %}
			&& contenido(Datos[j][13],opcional5_seleccionadas)
		{% endif %}
		){
			if( Datos[j][7] && Datos[j][8] >= min && Datos[j][8] <= max ) participante++;
			todos++;
		}
	}

	if(todos) var participacion = +(Math.round( (100*participante)/todos + "e+2")  + "e-2");
	else var participacion = 0;
	$des_pie.prop('data-percent',participacion);
	this.pie()
	$('.pie').data('easyPieChart').update(participacion);
	participacion += " %";
	$descripcion.html(participacion);
},

}

//==============================================================================
//   Control de mision
//==============================================================================
$(document).ready(function() {

	Elementos.inicio();
	document.getElementById("cargando").style.opacity = 1;
	$("#slider").dateRangeSlider({
		bounds:{
		  min: new Date({{ PDatos.finicio.year }},{{ PDatos.finicio.month | add:-1 }},{{ PDatos.finicio.day }}),
		  max: new Date({{ PDatos.ffin.year }},{{ PDatos.ffin.month | add:-1 }},{{ PDatos.ffin.day }})
		},
		defaultValues:{
		  min: fec_minima,
		  max: fec_maxima,
		}
	});

	$('#slider').on('valuesChanged',function(e,data){
		Elementos.circulo(data.values.min,data.values.max);
	});

	$('.filtro').change(function(){
		Elementos.circulo($("#slider").dateRangeSlider("min"),$("#slider").dateRangeSlider("max"))
	});

	$("#pro").dataTable({"columns" : [{className : "center"}, {className : "center"}, {className : "center"}, {className : "center"}],language : {sProcessing : "Procesando...",sLengthMenu : "Mostrar _MENU_ proyectos",sZeroRecords : "No se encontraron resultados",sEmptyTable : "No posees ningún proyecto creado o asociado.",sInfo : "Proyectos del _START_ al _END_ de un total de _TOTAL_",sInfoEmpty : "Proyectos del 0 al 0 de un total de 0",sInfoFiltered : "(filtrado de un total de _MAX_ proyectos)",sInfoPostFix : "",sSearch : "Buscar",sUrl : "",sInfoThousands : ",",sLoadingRecords : "Cargando...",oPaginate : {sFirst : "Primero",sLast : "Último",sNext : "Siguiente",sPrevious : "Anterior"},oAria : {sSortAscending : ": Activar para ordenar la columna de manera ascendente",sSortDescending : ": Activar para ordenar la columna de manera descendente"}}});
});
</script>
{%endblock%}
