{% extends "dash2.html" %}{%load staticfiles %}
{% block title %} Proyecto | Participantes{% endblock %}
{%block head2%}<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />{%endblock%}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="/participantes/individual/"><i><span>/ Participantes</span></i></a></li>
<li><a href="#"><i><span>/ Editar</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> Complete los siguientes campos para editar el participante:</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			<form class="form-horizontal" method="POST">{%csrf_token%}
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Nombre:</label>
					<div class="col-lg-5 col-md-6 col-xs-8 col-sm-7">
						<input required type="text" name="nombre" class="form-control" maxlength="45" value="{{Participante.nombre |escape}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Apellido:</label>
					<div class="col-lg-5 col-md-6 col-xs-8 col-sm-7">
						<input required type="text" name="apellido" class="form-control" maxlength="45" value="{{Participante.apellido |escape}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Email:</label>
					<div class="col-lg-5 col-md-6 col-xs-8 col-sm-7">
						<input id="email" required type="email" name="email" class="form-control" maxlength="254" value="{{Participante.email |escape}}">
					</div>
				</div>
				<div id="email_error" class="form-group">
					<div class="col-lg-2 col-md-2 col-xs-2 col-sm-2"></div>
					<div class="col-lg-5 col-md-6 col-xs-8 col-sm-7">
						<span style="color:#cd1e21"> Este correo se encuentra registrado en el proyecto, el envío de este formulario será ignorado.</span>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label norequired">Teléfono móvil:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input type="number" name="movil" class="form-control" maxlength="20" Placeholder="Ej: 573163025922" value="{{Participante.movil |escape}}">
					</div>
					<label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label required">Género:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<select class="chosen-select form-control" name="genero">
							<option {%ifequal 'Femenino' Participante.colaboradoresdatos.genero %}selected{%endifequal%} value="Femenino">Femenino</option>
							<option {%ifequal 'Masculino' Participante.colaboradoresdatos.genero %}selected{%endifequal%} value="Masculino">Masculino</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Área:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input required type="text" name="area" class="form-control" maxlength="200" value="{{Participante.colaboradoresdatos.area |escape}}">
					</div>
					<label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label required">Cargo:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input required type="text" name="cargo" class="form-control" maxlength="200" value="{{Participante.colaboradoresdatos.cargo |escape}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Regional:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input required type="text" name="regional" class="form-control" maxlength="200" value="{{Participante.colaboradoresdatos.regional |escape}}">
					</div>
					<label class="col-lg-1 col-md-1 col-sm-2 col-xs-2 control-label required">Ciudad:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input required type="text" name="ciudad" class="form-control" maxlength="100" value="{{Participante.colaboradoresdatos.ciudad |escape}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">Nivel académico:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<select class="chosen-select form-control" name="niv_academico">
							<option {%ifequal 'Primaria' Participante.colaboradoresdatos.niv_academico %}selected{%endifequal%} value="Primaria">Primaria</option>
							<option {%ifequal 'Bachillerato' Participante.colaboradoresdatos.niv_academico %}selected{%endifequal%} value="Bachillerato">Bachillerato</option>
							<option {%ifequal 'Técnico/Tecnólogo' Participante.colaboradoresdatos.niv_academico %}selected{%endifequal%} value="Técnico/Tecnólogo">Técnico/Tecnólogo</option>
							<option {%ifequal 'Profesional' Participante.colaboradoresdatos.niv_academico %}selected{%endifequal%} value="Profesional">Profesional</option>
							<option {%ifequal 'Maestría' Participante.colaboradoresdatos.niv_academico %}selected{%endifequal%} value="Maestria">Maestría</option>
							<option {%ifequal 'Doctorado' Participante.colaboradoresdatos.niv_academico %}selected{%endifequal%} value="Doctorado">Doctorado</option>
						</select>
					</div>
					<label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label required">Profesión:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input required type="text" name="profesion" class="form-control" maxlength="200" value="{{Participante.colaboradoresdatos.profesion |escape}}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label norequired">Fecha de nacimiento:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input readonly type="text" name="fec_nacimiento" data-date-format="dd/mm/yyyy" class="form-control fecha" maxlength="254" placeholder="Opcional" {%if Participante.colaboradoresdatos.fec_nacimiento%}value="{{Participante.colaboradoresdatos.fec_nacimiento |date:"d/m/Y" |escape}}"{%endif%}>
					</div>
					<label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label required">Fecha de ingreso:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input readonly type="text" name="fec_ingreso" data-date-format="dd/mm/yyyy" class="form-control fecha" maxlength="254" value="{{Participante.colaboradoresdatos.fec_ingreso |date:"d/m/Y" |escape}}">
					</div>
				</div>
				<div class="form-group">{%if Proyecto.proyectosdatos.opcional1%}
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">{{Proyecto.proyectosdatos.opcional1 |capfirst |escape}}</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input required type="text" name="opcional1" class="form-control" maxlength="200" value="{{Participante.colaboradoresdatos.opcional1 |escape}}">
					</div>
					{%endif%}
					{%if Proyecto.proyectosdatos.opcional2%}
					<label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label required">{{Proyecto.proyectosdatos.opcional2 |capfirst |escape}}</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input required type="text" name="opcional2" class="form-control" maxlength="200" value="{{Participante.colaboradoresdatos.opcional2 |escape}}">
					</div>
					{%endif%}
				</div>
				<div class="form-group">{%if Proyecto.proyectosdatos.opcional3%}
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">{{Proyecto.proyectosdatos.opcional3 |capfirst |escape}}</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input required type="text" name="opcional3" class="form-control" maxlength="200" value="{{Participante.colaboradoresdatos.opcional3 |escape}}">
					</div>
					{%endif%}
					{%if Proyecto.proyectosdatos.opcional4%}
					<label class="col-lg-1 col-md-1 col-xs-2 col-sm-2 control-label required">{{Proyecto.proyectosdatos.opcional4 |capfirst |escape}}</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input required type="text" name="opcional4" class="form-control" maxlength="200" value="{{Participante.colaboradoresdatos.opcional4 |escape}}">
					</div>
					{%endif%}
				</div>
				<div class="form-group">
					{%if Proyecto.proyectosdatos.opcional5%}
					<label class="col-lg-2 col-md-2 col-xs-2 col-sm-2 control-label required">{{Proyecto.proyectosdatos.opcional5 |capfirst |escape}}</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input required type="text" name="opcional5" class="form-control" maxlength="200"  value="{{Participante.colaboradoresdatos.opcional5 |escape}}">
					</div>
					{%endif%}
					<label class="{%if Proyecto.proyectosdatos.opcional5%}col-lg-1 col-md-1{%else%}col-lg-2 col-md-2{%endif%} col-xs-2 col-sm-2 control-label required">Activo:</label>
					<div class="col-lg-4 col-md-4 col-xs-4 col-sm-4">
						<input {%if Participante.estado%}checked{%endif%} type="checkbox" name="estado" class="switch" >
					</div>
				</div>
				<div class="container-fluid">
					<button type="submit" class="btn btn-primary pull-right m-t"><i class="fa fa-save"></i> Grabar Colaborador</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts%}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
<script>$('.select2').select2()</script>
<script type="text/javascript" src="{% static 'js/plugins/switchery/switchery.min.js' %}"></script>
<script>var elems = $('.switch'), lenelems = elems.length;for (var i = 0; i < lenelems; i++) {var switchery = new Switchery(elems[i]);}</script>
<script src="{% static 'js/plugins/datepicker/datepicker.min.js' %}"></script>
<script>$(document).ready(function(){$('.fecha').datepicker({startView: 2,/*todayBtn: "linked",*/keyboardNavigation: false,forceParse: false,autoclose: true}); });</script>
<script>var contenido=function(e,n){for(var i=0;i<n.length;i++)if(e==n[i])return!0;return!1},emails=function(){var e=$("#email_error"),n=$("#email"),i=[];{%for i in Emails%}i.push('{{i.email|safe|escape|lower}}');{%endfor%}e.hide();n.bind("keyup change",function(){contenido(n.val().toLowerCase(),i)?e.show():e.hide()})};emails();</script>
{% if 0 %}<script>
var contenido = function(a,x){
	for (var i = 0; i < x.length; i++) {
		if (a == x[i]){return true;}
	}
	return false;
}
var emails = function(){
	var $emailerror=$("#email_error"),$email=$('#email'),emails=[];{%for i in Emails%}emails.push('{{i.email|safe|escape|lower}}');{%endfor%}
	$emailerror.hide();
	$email.bind("keyup change", function(){
		if(contenido($email.val().toLowerCase(),emails)){
			$emailerror.show();
		}else{
			$emailerror.hide();
		}
	});
}
emails();
</script>{% endif %}
{%endblock%}
