{% extends "dash2.html" %}{%load staticfiles %}
{% block title %} Proyecto | Participantes{% endblock %}
{% block head2 %}<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css"/>{% endblock %}
{% block navegacion%}
<li><a href="/home/"><i class="fa fa-home"></i></a></li>
<li><a href="#"><i><span>/ Participantes</span></i></a></li>
{%endblock%}
{% block contenido2 %}
<div class="row">
	<div class="panel panel-default toggle m-t-xs ml20 mr20">
		<div class="panel-heading">
			<h4 class="panel-title"> Colaboradores del proyecto:</h4>
		</div>
		<div class="panel-body table-responsive" style="overflow: hidden; width: 100%; height: auto;">
			{%if Permisos.col_see%}<table id="pro" class="table table-striped table-bordered" cellspacing="0" width="99%">
				<thead>
					<tr>
						<th >Apellido</th>
						<th >Nombre</th>
						<th>Cargo</th>
						<th>Email</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{%for i in Participantes%}
					<tr>
						<td>{{i.nombre | capfirst | escape}}</td>
						<td>{{i.apellido | capfirst | escape}}</td>
						<td>{{i.colaboradoresdatos.cargo | capfirst | escape}}</td>
						<td>{{i.email | escape}}</td>
						<td>{%if i.estado%}<span style="color:#1d9d73">Activo</span>{%else%}<span style="color:#cd1e21">Inactivo</span>{%endif%}</td>
						<td>{%if Permisos.col_edit%}<a href="/participante/activar/{{i.id}}/"><i class="fa fa-retweet m-r" title="Activar/Desactivar" style="color:{%if i.estado%}#1d9d73{%else%}#cd1e21{%endif%}"></i></a><a href="/participante/editar/{{i.id}}/"><i class="fa fa-edit m-r" title="editar"></i></a>{%endif%}{%if Permisos.col_del%}<a href="/participante/eliminar/{{i.id}}/"><i class="fa fa-trash m-r" title="editar"></i></a>{%endif%}</td>
					</tr>{% endfor %}
				</tbody>
			</table>{%endif%}

			{%if Permisos.col_add%}<div class="container-fluid"><a href="/participante/nuevo/" class="btn btn-primary pull-right m-t"><i class="fa fa-plus"></i> Agregar Participante</a></div>{%endif%}
		</div>
	</div>
</div>
{% endblock %}

{% block scripts%}
<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>$("#pro").dataTable({"columns":[{ className: "center" },{ className: "center" },{ className: "center" },{ className: "center" },{ className: "center" },{ className: "center" }],language:{sProcessing:"Procesando...",sLengthMenu:"Mostrar _MENU_ Participantes",sZeroRecords:"No se encontraron resultados",sEmptyTable:"El Proyecto no posee ningún participante.",sInfo:"Participantes del _START_ al _END_ de un total de _TOTAL_",sInfoEmpty:"Participantes del  0 al 0 de un total de 0",sInfoFiltered:"(filtrado de un total de _MAX_ Participantes)",sInfoPostFix:"",sSearch:"Buscar:",sUrl:"",sInfoThousands:",",sLoadingRecords:"Cargando...",oPaginate:{sFirst:"Primero",sLast:"Último",sNext:"Siguiente",sPrevious:"Anterior"},oAria:{sSortAscending:": Activar para ordenar la columna de manera ascendente",sSortDescending:": Activar para ordenar la columna de manera descendente"}}});</script>
{%endblock%}
